@import './shoelace-styles.css';

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSans3-VariableFont_wght.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

:root {
  --transition-time: 0.3s;
}

/* Brukes p책 lenkene som ikke er i Shadow-DOMen som f.eks de som skal wrappe <nve-link-card> */
a {
  color: var(--color-neutrals-foreground-primary, #0d0d0e);
}

/* Brukes for 책 fjerne standard linje i <a>  som ikke er i Shadow-DOMen som f.eks de som skal wrappe <nve-link-card> */
a:has(nve-link-card) {
  text-decoration: unset;
}

/* Brukes for 책 overskrive standard lenke visited styling som ikke er i Shadow-DOMen som f.eks de som skal wrappe <nve-link-card> */
a:visited {
  color: var(--color-interactive-links-visited);
}

/* Brukes i nve-alert for 책 vise toast*/
.toast-stack {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}

/*
focus ring color is the same all over the application.
we use only border-radius-small size on all shoelace border radius tokens. (--sl-border-radius-large and --sl-border-radius-x-large are 
not actively used in any of the sl components, therefore they are not reassigned here).
input fonts and spacing isn't assigned yet since we use it a bit differently in ds (gaps on spacing instead of padding)
*/
