:root.rme { --brand-100: #dde2f8;
  --brand-150: #c7ceef;
  --brand-200: #afbae9;
  --brand-300: #8092db;
  --brand-400: #5872d0;
  --brand-500: #3451b7;
  --brand-600: #2b4399;
  --brand-700: #24387f;
  --brand-800: #1d2d67;
  --brand-850: #192658;
  --brand-900: #141f48;
  --brand-950: #101838;
  --brand-999: #0b1128;
  --brand-000: #f5f7ff;
  --brand-050: #eceffe;
  --grey-100: #edeff3;
  --grey-150: #e0e4eb;
  --grey-200: #c2cad6;
  --grey-300: #afbcca;
  --grey-400: #94a5b8;
  --grey-500: #758ba3;
  --grey-600: #516579;
  --grey-700: #405163;
  --grey-800: #303d4c;
  --grey-850: #1d2834;
  --grey-900: #141e29;
  --grey-950: #0f1926;
  --grey-999: #0d0d0e;
  --grey-000: #ffffff;
  --grey-050: #f6f7f9;
  --red-100: #ffc2c2;
  --red-150: #ffa8a8;
  --red-200: #ff9494;
  --red-300: #ff7575;
  --red-400: #ff5757;
  --red-500: #ff3131;
  --red-600: #ea2020;
  --red-700: #cc0000;
  --red-800: #bc0303;
  --red-850: #a80303;
  --red-900: #8f0a0a;
  --red-950: #6b0000;
  --red-999: #540000;
  --red-000: #ffebee;
  --red-050: #ffd8de;
  --yellow-100: #fff4d1;
  --yellow-150: #ffedb8;
  --yellow-200: #ffe8a5;
  --yellow-300: #ffe087;
  --yellow-400: #ffd867;
  --yellow-500: #ffd046;
  --yellow-600: #ecbf38;
  --yellow-700: #daad2a;
  --yellow-800: #c79c1c;
  --yellow-850: #be9315;
  --yellow-900: #b58a0e;
  --yellow-950: #ab8207;
  --yellow-999: #a27900;
  --yellow-000: #fff9e9;
  --yellow-050: #fff5d9;
  --blue-100: #ceeaff;
  --blue-150: #a8daff;
  --blue-200: #91d0ff;
  --blue-300: #65bdff;
  --blue-400: #38a9ff;
  --blue-500: #008ffb;
  --blue-600: #0f81fa;
  --blue-700: #1e6fdc;
  --blue-800: #0668b1;
  --blue-850: #044b81;
  --blue-900: #034272;
  --blue-950: #0f3970;
  --blue-999: #0b2951;
  --blue-000: #e6f4ff;
  --blue-050: #d5edff;
  --green-100: #e8fce8;
  --green-150: #cbf9cb;
  --green-200: #8af0a1;
  --green-300: #97f2a8;
  --green-400: #8af0a1;
  --green-500: #6bf198;
  --green-600: #57ce7f;
  --green-700: #43ab66;
  --green-800: #00814b;
  --green-850: #247740;
  --green-900: #1a6533;
  --green-950: #004126;
  --green-999: #00301c;
  --green-000: #f6fff9;
  --green-050: #f0fef5;
  --orange-100: #ffe3c2;
  --orange-150: #ffdaae;
  --orange-200: #ffc98a;
  --orange-300: #ffb186;
  --orange-400: #ff9a24;
  --orange-500: #ff833e;
  --orange-600: #e87332;
  --orange-700: #d16325;
  --orange-800: #b95219;
  --orange-850: #ae4a13;
  --orange-900: #a2420c;
  --orange-950: #973a06;
  --orange-999: #8b3200;
  --orange-000: #fff6f1;
  --orange-050: #ffecd6;
  --varsom-blue-100: #a6d8ee;
  --varsom-blue-150: #7ec4e2;
  --varsom-blue-200: #43a9d5;
  --varsom-blue-300: #2c96c4;
  --varsom-blue-400: #0e89be;
  --varsom-blue-500: #006b99;
  --varsom-blue-600: #005c85;
  --varsom-blue-700: #005175;
  --varsom-blue-800: #00425f;
  --varsom-blue-850: #00364e;
  --varsom-blue-900: #003147;
  --varsom-blue-950: #002738;
  --varsom-blue-999: #00131c;
  --varsom-blue-000: #eff8fc;
  --varsom-blue-050: #c8eaf9;
  --opacity-disabled: 0.38;
  --font-families-source-sans-pro: 'Source Sans Pro';
  --line-heights-0: 1.15;
  --line-heights-1: 1.20;
  --line-heights-2: 1.25;
  --line-heights-3: 1.30;
  --line-heights-4: 1.40;
  --line-heights-5: 1.50;
  --line-heights-6: 1.10;
  --text-case-capitalize: capitalize;
  --text-case-none: none;
  --text-case-uppercase: uppercase;
  --text-decoration-none: none;
  --text-decoration-underline: underline;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --none: 0 0 0 0 rgba(0,0,0,0);
  --soft: -59px 104px 33px 0 rgba(0,0,0,0.00), -38px 67px 31px 0 rgba(0,0,0,0.00), -21px 37px 26px 0 rgba(0,0,0,0.01), -9px 17px 19px 0 rgba(0,0,0,0.02), -2px 4px 11px 0 rgba(0,0,0,0.03);
  --hard: -45px 80px 26px 0 rgba(0,0,0,0.00), -29px 51px 23px 0 rgba(0,0,0,0.01), -16px 29px 20px 0 rgba(0,0,0,0.02), -7px 13px 15px 0 rgba(0,0,0,0.03), -2px 3px 8px 0 rgba(0,0,0,0.04);
  --header: 0 4px 032px 0 rgba(0,0,0,0.02);
  --dropdown: 0 54px 15px 0 rgba(0,0,0,0.00), 0 35px 14px 0 rgba(0,0,0,0.00), 0 19px 12px 0 rgba(0,0,0,0.02), 0 9px 9px 0 rgba(0,0,0,0.03), 0 2px 5px 0 rgba(0,0,0,0.03);
  --teal-100: #e2f3f9;
  --teal-150: #d3edf6;
  --teal-200: #c4e7f3;
  --teal-300: #a7dbec;
  --teal-400: #89cfe6;
  --teal-500: #6cc3e0;
  --teal-600: #58a1b9;
  --teal-700: #437f92;
  --teal-800: #2f5c6c;
  --teal-850: #254b58;
  --teal-900: #1a3a45;
  --teal-950: #102931;
  --teal-999: #06181e;
  --teal-000: #ffffff;
  --teal-050: #f0f9fc;
  --purple-100: #ece9fc;
  --purple-150: #e2ddfa;
  --purple-200: #d9d2f9;
  --purple-300: #c5bcf5;
  --purple-400: #b2a5f2;
  --purple-500: #9f8fef;
  --purple-600: #8475ce;
  --purple-700: #685aad;
  --purple-800: #4d408d;
  --purple-850: #3f337c;
  --purple-900: #31256c;
  --purple-950: #24185b;
  --purple-999: #160b4b;
  --purple-000: #ffffff;
  --purple-050: #f5f4fd;
  --lime-100: #eaf4da;
  --lime-150: #dfeec8;
  --lime-200: #d4e9b6;
  --lime-300: #bfdd91;
  --lime-400: #a9d26d;
  --lime-500: #94c748;
  --lime-600: #769f3a;
  --lime-700: #59772b;
  --lime-800: #3b501d;
  --lime-850: #2c3c16;
  --lime-900: #1e280e;
  --lime-950: #0f1407;
  --lime-999: #000000;
  --lime-000: #ffffff;
  --lime-050: #f4f9ed;
  --magenta-100: #fae3f1;
  --magenta-150: #f8d5eb;
  --magenta-200: #f5c7e4;
  --magenta-300: #f1acd6;
  --magenta-400: #ec90c9;
  --magenta-500: #e774bb;
  --magenta-600: #c25e9c;
  --magenta-700: #9c497c;
  --magenta-800: #77335d;
  --magenta-850: #64284d;
  --magenta-900: #511e3d;
  --magenta-950: #3f132e;
  --magenta-999: #2c081e;
  --magenta-000: #ffffff;
  --magenta-050: #fdf1f8;
  --neutralgrey-100: #edeef0;
  --neutralgrey-150: #e4e5e7;
  --neutralgrey-200: #c9cbcf;
  --neutralgrey-300: #b7babf;
  --neutralgrey-400: #9fa3a9;
  --neutralgrey-500: #878c94;
  --neutralgrey-600: #60656c;
  --neutralgrey-700: #515459;
  --neutralgrey-800: #3c3f44;
  --neutralgrey-850: #292a2c;
  --neutralgrey-900: #1b1c1e;
  --neutralgrey-950: #0d0d0e;
  --neutralgrey-999: #0d0d0e;
  --neutralgrey-000: #ffffff;
  --neutralgrey-050: #f7f7f8;
  --brand-primary: var(--brand-500);
  --brand-light: var(--brand-100);
  --brand-deep: var(--brand-700);
  --neutrals-background-primary-contrast: var(--grey-050);
  --neutrals-background-primary: var(--grey-000);
  --neutrals-background-secondary: var(--grey-150);
  --neutrals-background-canvas: var(--grey-050);
  --neutrals-foreground-primary: var(--grey-999);
  --neutrals-foreground-subtle: var(--grey-600);
  --neutrals-foreground-colored: var(--brand-500);
  --neutrals-border-default: var(--grey-500);
  --neutrals-border-mute: var(--grey-300);
  --neutrals-border-subtle: var(--grey-150);
  --neutrals-border-disabled: var(--grey-500);
  --interactive-primary-background-default: var(--grey-950);
  --interactive-primary-background-hover: var(--grey-800);
  --interactive-primary-background-disabled: var(--grey-950);
  --interactive-primary-foreground-default: var(--grey-000);
  --interactive-primary-foreground-hover: var(--grey-000);
  --interactive-primary-foreground-disabled: var(--grey-000);
  --interactive-primary-foreground-border-focus: var(--blue-500);
  --interactive-secondary-background-default: var(--grey-150);
  --interactive-secondary-background-hover: var(--grey-200);
  --interactive-secondary-background-disabled: var(--grey-150);
  --interactive-secondary-foreground-default: var(--grey-950);
  --interactive-secondary-foreground-hover: var(--grey-950);
  --interactive-secondary-foreground-disabled: var(--grey-950);
  --interactive-secondary-border-focus: var(--blue-500);
  --interactive-outlined-foreground-default: var(--grey-950);
  --interactive-outlined-foreground-hover: var(--grey-950);
  --interactive-outlined-foreground-disabled: var(--grey-950);
  --interactive-outlined-border-default: var(--grey-500);
  --interactive-outlined-border-hover: var(--grey-950);
  --interactive-outlined-border-focus: var(--blue-500);
  --interactive-outlined-border-disabled: var(--grey-500);
  --interactive-ghost-background-hover: var(--grey-150);
  --interactive-ghost-foreground-default: var(--grey-950);
  --interactive-ghost-foreground-hover: var(--grey-950);
  --interactive-ghost-foreground-disabled: var(--grey-950);
  --interactive-ghost-border-focus: var(--blue-500);
  --interactive-links-default: var(--blue-700);
  --interactive-links-hover: var(--grey-950);
  --interactive-links-focus: var(--blue-700);
  --interactive-links-visited: var(--grey-600);
  --interactive-danger-background-default: var(--red-700);
  --interactive-danger-background-hover: var(--red-850);
  --interactive-danger-background-disabled: var(--red-700);
  --interactive-danger-foreground-default: var(--grey-000);
  --interactive-danger-foreground-hover: var(--grey-000);
  --interactive-danger-foreground-disabled: var(--grey-000);
  --interactive-danger-border-focus: var(--blue-500);
  --feedback-background-default-info: var(--blue-100);
  --feedback-background-default-error: var(--red-050);
  --feedback-background-default-warning: var(--yellow-200);
  --feedback-background-default-success: var(--green-150);
  --feedback-background-default-neutral: var(--neutralgrey-150); /** For neutral messages */
  --feedback-background-subtle-info: var(--blue-000);
  --feedback-background-subtle-error: var(--red-000);
  --feedback-background-subtle-warning: var(--yellow-100);
  --feedback-background-subtle-success: var(--green-100);
  --feedback-background-subtle-neutral: var(--neutralgrey-050);
  --feedback-background-emphasized-info: var(--blue-700);
  --feedback-background-emphasized-error: var(--red-700);
  --feedback-background-emphasized-warning: var(--yellow-500);
  --feedback-background-emphasized-success: var(--green-800);
  --feedback-background-emphasized-neutral: var(--neutralgrey-800);
  --feedback-foreground-default-info: var(--neutralgrey-999);
  --feedback-foreground-default-error: var(--neutralgrey-999);
  --feedback-foreground-default-warning: var(--neutralgrey-999);
  --feedback-foreground-default-success: var(--neutralgrey-999);
  --feedback-foreground-default-neutral: var(--neutralgrey-999);
  --feedback-foreground-subtle-info: var(--neutralgrey-999);
  --feedback-foreground-subtle-error: var(--neutralgrey-999);
  --feedback-foreground-subtle-warning: var(--neutralgrey-999);
  --feedback-foreground-subtle-success: var(--neutralgrey-999);
  --feedback-foreground-subtle-neutral: var(--neutralgrey-999);
  --feedback-foreground-emphasized-info: var(--grey-000);
  --feedback-foreground-emphasized-error: var(--grey-000);
  --feedback-foreground-emphasized-warning: var(--neutralgrey-999);
  --feedback-foreground-emphasized-success: var(--grey-000);
  --feedback-foreground-emphasized-neutral: var(--grey-000);
  --dangerlevel-background-mute-level1: var(--green-150);
  --dangerlevel-background-mute-level2: var(--yellow-200);
  --dangerlevel-background-mute-level3: var(--orange-150);
  --dangerlevel-background-mute-level4: var(--red-050);
  --dangerlevel-background-mute-level5: var(--neutralgrey-200);
  --dangerlevel-background-subtle-level1: var(--green-100);
  --dangerlevel-background-subtle-level2: var(--yellow-100);
  --dangerlevel-background-subtle-level3: var(--orange-050);
  --dangerlevel-background-subtle-level4: var(--red-000);
  --dangerlevel-background-subtle-level5: var(--neutralgrey-150);
  --dangerlevel-background-default-level1: var(--green-500);
  --dangerlevel-background-default-level2: var(--yellow-500);
  --dangerlevel-background-default-level3: var(--orange-400);
  --dangerlevel-background-default-level4: var(--red-500);
  --dangerlevel-background-default-level5: var(--neutralgrey-950);
  --dangerlevel-foreground-default-level1: var(--neutralgrey-999);
  --dangerlevel-foreground-default-level2: var(--neutralgrey-999);
  --dangerlevel-foreground-default-level3: var(--neutralgrey-999);
  --dangerlevel-foreground-default-level4: var(--neutralgrey-999);
  --dangerlevel-foreground-default-level5: var(--neutralgrey-000);
  --dangerlevel-foreground-mute-level1: var(--neutralgrey-999);
  --dangerlevel-foreground-mute-level2: var(--neutralgrey-999);
  --dangerlevel-foreground-mute-level3: var(--neutralgrey-999);
  --dangerlevel-foreground-mute-level4: var(--neutralgrey-999);
  --dangerlevel-foreground-mute-level5: var(--neutralgrey-999);
  --dangerlevel-foreground-subtle-level1: var(--neutralgrey-999);
  --dangerlevel-foreground-subtle-level2: var(--neutralgrey-999);
  --dangerlevel-foreground-subtle-level3: var(--neutralgrey-999);
  --dangerlevel-foreground-subtle-level4: var(--neutralgrey-999);
  --dangerlevel-foreground-subtle-level5: var(--neutralgrey-999);
  --supplemental-subtle-teal-background: var(--teal-150);
  --supplemental-subtle-teal-foreground: var(--teal-900);
  --supplemental-subtle-purple-background: var(--purple-200);
  --supplemental-subtle-purple-foreground: var(--purple-950);
  --supplemental-subtle-lime-background: var(--lime-150);
  --supplemental-subtle-lime-foreground: var(--lime-850);
  --supplemental-subtle-magenta-background: var(--magenta-150);
  --supplemental-subtle-magenta-foreground: var(--magenta-850);
  --supplemental-subtle-yellow-background: var(--yellow-150);
  --supplemental-subtle-yellow-foreground: var(--lime-999);
  --supplemental-subtle-grey-background: var(--neutralgrey-150);
  --supplemental-subtle-grey-foreground: var(--neutralgrey-850);
  --supplemental-subtle-red-background: var(--red-100);
  --supplemental-subtle-red-foreground: var(--red-999);
  --supplemental-subtle-blue-background: var(--blue-150);
  --supplemental-subtle-blue-foreground: var(--blue-950);
  --supplemental-emphasized-teal-background: var(--teal-500);
  --supplemental-emphasized-teal-foreground: var(--teal-950);
  --supplemental-emphasized-purple-background: var(--purple-400);
  --supplemental-emphasized-purple-foreground: var(--purple-950);
  --supplemental-emphasized-lime-background: var(--lime-500);
  --supplemental-emphasized-lime-foreground: var(--lime-900);
  --supplemental-emphasized-magenta-background: var(--magenta-500);
  --supplemental-emphasized-magenta-foreground: var(--magenta-950);
  --supplemental-emphasized-yellow-background: var(--yellow-400);
  --supplemental-emphasized-yellow-foreground: var(--grey-999);
  --supplemental-emphasized-grey-background: var(--neutralgrey-400);
  --supplemental-emphasized-grey-foreground: var(--neutralgrey-999);
  --supplemental-emphasized-red-b-ackground: var(--red-300);
  --supplemental-emphasized-red-foreground: var(--grey-999);
  --supplemental-emphasized-blue-background: var(--blue-400);
  --supplemental-emphasized-blue-foreground: var(--grey-999);
 --spacing-none: 0;
  --dimension-025x: 0.0625rem; /** 1px */
  --dimension-05x: 0.125rem; /** 2px */
  --dimension-1x: 0.25rem; /** 4px */
  --dimension-2x: 0.5rem; /** 8px */
  --dimension-3x: 0.75rem; /** 12px */
  --dimension-3-5x: 0.875rem; /** 14px */
  --dimension-4x: 1rem; /** 16px */
  --dimension-4-5x: 1.125rem; /** 18px */
  --dimension-5x: 1.25rem; /** 20px */
  --dimension-6x: 1.5rem; /** 24px */
  --dimension-7x: 1.75rem; /** 28px */
  --dimension-8x: 2rem; /** 32px */
  --dimension-9x: 2.25rem; /** 36px */
  --dimension-10x: 2.5rem; /** 40px */
  --dimension-11x: 2.75rem; /** 44px */
  --dimension-12x: 3rem; /** 48px */
  --dimension-13x: 3.25rem; /** 52px */
  --dimension-14x: 3.5rem; /** 56px */
  --dimension-15x: 3.75rem; /** 60px */
  --dimension-16x: 4rem; /** 64px */
  --dimension-17x: 4.25rem; /** 68px */
  --dimension-18x: 4.5rem; /** 72px */
  --dimension-19x: 4.75rem; /** 76px */
  --dimension-20x: 5rem; /** 80px */
  --dimension-21x: 5.25rem; /** 84px */
  --dimension-22x: 5.5rem; /** 88px */
  --dimension-23x: 5.75rem; /** 92px */
  --dimension-24x: 6rem; /** 96px */
  --dimension-25x: 6.25rem; /** 100px */
  --dimension-26x: 6.5rem; /** 104px */
  --dimension-27x: 6.75rem; /** 108px */
  --dimension-28x: 7rem; /** 112px */
  --dimension-29x: 7.25rem; /** 116px */
  --dimension-30x: 7.5rem; /** 120px */
  --letter-spacing-0: 0em;
  --letter-spacing-1: 0.05em;
  --paragraph-spacing-0: 0;
  --paragraph-spacing-1: 12px;
  --paragraph-spacing-2: 16px;
  --paragraph-spacing-3: 24px;
  --paragraph-spacing-4: 32px;
  --paragraph-spacing-5: 40px;
  --paragraph-indent-0: 0px;
  --content-margin-top-bottom-mobile: 24px;
  --content-margin-top-bottom-desktop: 40px;
  --content-margin-top-bottom-desktop-small: 32px;
  --content-margin-top-bottom-desktop-large: 40px;
  --content-margin-left-right-mobile: 24px;
  --content-margin-left-right-desktop-small: 50px;
  --content-margin-left-right-desktop: 220px;
  --content-margin-left-right-desktop-large: 620px;
  --border-radius-none: 0px;
  --border-radius-small: 4px;
  --border-radius-large: 6px;
  --border-radius-circle: 50px;
  --border-radius-pill: 9999px;
  --border-width-none: 0px;
  --border-width-default: 1px;
  --border-width-strong: 2px;
  --content-area-mobile: 366px;
  --content-area-desktop-small: 700px;
  --content-area-desktop: 1000px;
  --content-area-desktop-large: 1200px;
  --device-width-mobile: 390px;
  --device-width-desktop-small: 800px;
  --device-width-desktop: 1440px;
  --device-width-desktop-large: 2440px;
  --header-x-large: var(--font-weight-semibold) var(--font-size-3xlarge)/var(--line-heights-0) var(--font-families-source-sans-pro);
  --header-large: var(--font-weight-semibold) var(--font-size-2xlarge)/var(--line-heights-1) var(--font-families-source-sans-pro);
  --header-medium: var(--font-weight-semibold) var(--font-size-xlarge)/var(--line-heights-2) var(--font-families-source-sans-pro);
  --header-small: var(--font-weight-semibold) var(--font-size-large)/var(--line-heights-3) var(--font-families-source-sans-pro);
  --subheading-large: var(--font-weight-regular) var(--font-size-2xlarge)/var(--line-heights-1) var(--font-families-source-sans-pro);
  --subheading-medium: var(--font-weight-regular) var(--font-size-xlarge)/var(--line-heights-2) var(--font-families-source-sans-pro);
  --subheading-small: var(--font-weight-regular) var(--font-size-large)/var(--line-heights-3) var(--font-families-source-sans-pro);
  --ingress-large-regular: var(--font-weight-regular) var(--font-size-large)/var(--line-heights-4) var(--font-families-source-sans-pro);
  --ingress-large-semibold: var(--font-weight-semibold) var(--font-size-large)/var(--line-heights-4) var(--font-families-source-sans-pro);
  --ingress-medium-regular: var(--font-weight-regular) var(--font-size-medium)/var(--line-heights-5) var(--font-families-source-sans-pro);
  --ingress-medium-semibold: var(--font-weight-semibold) var(--font-size-medium)/var(--line-heights-5) var(--font-families-source-sans-pro);
  --ingress-small-regular: var(--font-weight-regular) var(--font-size-small)/var(--line-heights-5) var(--font-families-source-sans-pro);
  --ingress-small-semibold: var(--font-weight-semibold) var(--font-size-small)/var(--line-heights-5) var(--font-families-source-sans-pro);
  --body-large: var(--font-weight-regular) var(--font-size-medium)/var(--line-heights-5) var(--font-families-source-sans-pro);
  --body-large-underline: var(--font-weight-regular) var(--font-size-medium)/var(--line-heights-5) var(--font-families-source-sans-pro);
  --body-medium: var(--font-weight-regular) var(--font-size-small)/var(--line-heights-5) var(--font-families-source-sans-pro);
  --body-medium-underline: var(--font-weight-regular) var(--font-size-small)/var(--line-heights-5) var(--font-families-source-sans-pro);
  --body-small: var(--font-weight-regular) var(--font-size-xsmall)/var(--line-heights-5) var(--font-families-source-sans-pro);
  --body-small-underline: var(--font-weight-regular) var(--font-size-xsmall)/var(--line-heights-5) var(--font-families-source-sans-pro);
  --body-xsmall: var(--font-weight-regular) var(--font-size-2xsmall)/var(--line-heights-5) var(--font-families-source-sans-pro);
  --body-xsmall-underline: var(--font-weight-regular) var(--font-size-2xsmall)/var(--line-heights-5) var(--font-families-source-sans-pro);
  --body-compact-large-compact: var(--font-weight-regular) var(--font-size-medium)/var(--line-heights-1) var(--font-families-source-sans-pro);
  --body-compact-large-underline-compact: var(--font-weight-regular) var(--font-size-medium)/var(--line-heights-1) var(--font-families-source-sans-pro);
  --body-compact-medium-compact: var(--font-weight-regular) var(--font-size-small)/var(--line-heights-1) var(--font-families-source-sans-pro);
  --body-compact-medium-underline-compact: var(--font-weight-regular) var(--font-size-small)/var(--line-heights-1) var(--font-families-source-sans-pro);
  --body-compact-small-compact: var(--font-weight-regular) var(--font-size-xsmall)/var(--line-heights-1) var(--font-families-source-sans-pro);
  --body-compact-small-underline-compact: var(--font-weight-regular) var(--font-size-xsmall)/var(--line-heights-1) var(--font-families-source-sans-pro);
  --body-compact-xsmall-compact: var(--font-weight-regular) var(--font-size-2xsmall)/var(--line-heights-1) var(--font-families-source-sans-pro);
  --body-compact-xsmall-underline-compact: var(--font-weight-regular) var(--font-size-2xsmall)/var(--line-heights-1) var(--font-families-source-sans-pro);
  --detailtext-caption: var(--font-weight-regular) var(--font-size-2xsmall)/var(--line-heights-5) var(--font-families-source-sans-pro);
  --detailtext-caps-large: var(--font-weight-semibold) var(--font-size-medium)/var(--line-heights-5) var(--font-families-source-sans-pro);
  --detailtext-caps-small: var(--font-weight-semibold) var(--font-size-xsmall)/var(--line-heights-5) var(--font-families-source-sans-pro);
  --label-large: var(--font-weight-semibold) var(--font-size-medium)/var(--line-heights-6) var(--font-families-source-sans-pro);
  --label-large-light: var(--font-weight-regular) var(--font-size-medium)/var(--line-heights-6) var(--font-families-source-sans-pro);
  --label-medium: var(--font-weight-semibold) var(--font-size-small)/var(--line-heights-6) var(--font-families-source-sans-pro);
  --label-medium-light: var(--font-weight-regular) var(--font-size-small)/var(--line-heights-6) var(--font-families-source-sans-pro);
  --label-small: var(--font-weight-semibold) var(--font-size-xsmall)/var(--line-heights-6) var(--font-families-source-sans-pro);
  --label-small-light: var(--font-weight-regular) var(--font-size-xsmall)/var(--line-heights-6) var(--font-families-source-sans-pro);
  --label-x-small: var(--font-weight-semibold) var(--font-size-2xsmall)/var(--line-heights-6) var(--font-families-source-sans-pro);
  --label-x-small-light: var(--font-weight-regular) var(--font-size-2xsmall)/var(--line-heights-6) var(--font-families-source-sans-pro);
  --spacing-xx-small: var(--dimension-1x);
  --spacing-x-small: var(--dimension-2x);
  --spacing-small: var(--dimension-3x);
  --spacing-medium: var(--dimension-4x);
  --spacing-large: var(--dimension-6x);
  --spacing-x-large: var(--dimension-8x);
  --spacing-2x-large: var(--dimension-12x);
  --spacing-3x-large: var(--dimension-16x);
  --spacing-4x-large: var(--dimension-20x);
  --spacing-5x-large: var(--dimension-24x);
  --device-width: var(--device-width-desktop);
  --device-content: var(--content-area-desktop);
  --sizing-2x-small: var(--dimension-6x);
  --sizing-x-small: var(--dimension-9x);
  --sizing-small: var(--dimension-12x);
  --sizing-medium: var(--dimension-15x);
  --sizing-large: var(--dimension-18x);
  --sizing-x-large: var(--dimension-21x);
  --sizing-3x-small: var(--dimension-4x);
  --sizing-4x-small: var(--dimension-2x);
  --sizing-2x-large: var(--dimension-24x);
  --content-margin-top-bottom: var(--content-margin-top-bottom-desktop);
  --content-margin-left-right: var(--content-margin-left-right-desktop);
  --font-size-2xsmall: var(--dimension-3-5x); /** 12 px */
  --font-size-xsmall: var(--dimension-4x); /** 14 px */
  --font-size-small: var(--dimension-4-5x); /** 16 px */
  --font-size-medium: var(--dimension-5x); /** 18 px */
  --font-size-large: var(--dimension-6x); /** 20 px */
  --font-size-xlarge: var(--dimension-8x); /** 24 px */
  --font-size-2xlarge: var(--dimension-10x); /** 32 px */
  --font-size-3xlarge: var(--dimension-12x); /** 40 px */
  --fixed-sizing-x-small: var(--dimension-5x);
  --fixed-sizing-small: var(--dimension-6x);
  --fixed-sizing-xx-small: var(--dimension-4x);
  --fixed-sizing-medium: var(--dimension-8x);
  --fixed-sizing-large: var(--dimension-10x);
  --fixed-sizing-x-large: var(--dimension-12x);
  --fixed-sizing-2x-large: var(--dimension-14x);
  --fixed-sizing-3x-large: var(--dimension-16x); }
:root.rme_darkmode { --brand-100: #dde2f8;
  --brand-150: #c7ceef;
  --brand-200: #afbae9;
  --brand-300: #8092db;
  --brand-400: #5872d0;
  --brand-500: #3451b7;
  --brand-600: #2b4399;
  --brand-700: #24387f;
  --brand-800: #1d2d67;
  --brand-850: #192658;
  --brand-900: #141f48;
  --brand-950: #101838;
  --brand-999: #0b1128;
  --brand-000: #f5f7ff;
  --brand-050: #eceffe;
  --grey-100: #edeff3;
  --grey-150: #e0e4eb;
  --grey-200: #c2cad6;
  --grey-300: #afbcca;
  --grey-400: #94a5b8;
  --grey-500: #758ba3;
  --grey-600: #516579;
  --grey-700: #405163;
  --grey-800: #303d4c;
  --grey-850: #1d2834;
  --grey-900: #141e29;
  --grey-950: #0f1926;
  --grey-999: #0d0d0e;
  --grey-000: #ffffff;
  --grey-050: #f6f7f9;
  --red-100: #ffc2c2;
  --red-150: #ffa8a8;
  --red-200: #ff9494;
  --red-300: #ff7575;
  --red-400: #ff5757;
  --red-500: #ff3131;
  --red-600: #ea2020;
  --red-700: #cc0000;
  --red-800: #bc0303;
  --red-850: #a80303;
  --red-900: #8f0a0a;
  --red-950: #6b0000;
  --red-999: #540000;
  --red-000: #ffebee;
  --red-050: #ffd8de;
  --yellow-100: #fff4d1;
  --yellow-150: #ffedb8;
  --yellow-200: #ffe8a5;
  --yellow-300: #ffe087;
  --yellow-400: #ffd867;
  --yellow-500: #ffd046;
  --yellow-600: #ecbf38;
  --yellow-700: #daad2a;
  --yellow-800: #c79c1c;
  --yellow-850: #be9315;
  --yellow-900: #b58a0e;
  --yellow-950: #ab8207;
  --yellow-999: #a27900;
  --yellow-000: #fff9e9;
  --yellow-050: #fff5d9;
  --blue-100: #ceeaff;
  --blue-150: #a8daff;
  --blue-200: #91d0ff;
  --blue-300: #65bdff;
  --blue-400: #38a9ff;
  --blue-500: #008ffb;
  --blue-600: #0f81fa;
  --blue-700: #1e6fdc;
  --blue-800: #0668b1;
  --blue-850: #044b81;
  --blue-900: #034272;
  --blue-950: #0f3970;
  --blue-999: #0b2951;
  --blue-000: #e6f4ff;
  --blue-050: #d5edff;
  --green-100: #e8fce8;
  --green-150: #cbf9cb;
  --green-200: #8af0a1;
  --green-300: #97f2a8;
  --green-400: #8af0a1;
  --green-500: #6bf198;
  --green-600: #57ce7f;
  --green-700: #43ab66;
  --green-800: #00814b;
  --green-850: #247740;
  --green-900: #1a6533;
  --green-950: #004126;
  --green-999: #00301c;
  --green-000: #f6fff9;
  --green-050: #f0fef5;
  --orange-100: #ffe3c2;
  --orange-150: #ffdaae;
  --orange-200: #ffc98a;
  --orange-300: #ffb186;
  --orange-400: #ff9a24;
  --orange-500: #ff833e;
  --orange-600: #e87332;
  --orange-700: #d16325;
  --orange-800: #b95219;
  --orange-850: #ae4a13;
  --orange-900: #a2420c;
  --orange-950: #973a06;
  --orange-999: #8b3200;
  --orange-000: #fff6f1;
  --orange-050: #ffecd6;
  --varsom-blue-100: #a6d8ee;
  --varsom-blue-150: #7ec4e2;
  --varsom-blue-200: #43a9d5;
  --varsom-blue-300: #2c96c4;
  --varsom-blue-400: #0e89be;
  --varsom-blue-500: #006b99;
  --varsom-blue-600: #005c85;
  --varsom-blue-700: #005175;
  --varsom-blue-800: #00425f;
  --varsom-blue-850: #00364e;
  --varsom-blue-900: #003147;
  --varsom-blue-950: #002738;
  --varsom-blue-999: #00131c;
  --varsom-blue-000: #eff8fc;
  --varsom-blue-050: #c8eaf9;
  --opacity-disabled: 0.38;
  --font-families-source-sans-pro: 'Source Sans Pro';
  --line-heights-0: 1.15;
  --line-heights-1: 1.20;
  --line-heights-2: 1.25;
  --line-heights-3: 1.30;
  --line-heights-4: 1.40;
  --line-heights-5: 1.50;
  --line-heights-6: 1.10;
  --text-case-capitalize: capitalize;
  --text-case-none: none;
  --text-case-uppercase: uppercase;
  --text-decoration-none: none;
  --text-decoration-underline: underline;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --none: 0 0 0 0 rgba(0,0,0,0);
  --soft: -59px 104px 33px 0 rgba(0,0,0,0.00), -38px 67px 31px 0 rgba(0,0,0,0.00), -21px 37px 26px 0 rgba(0,0,0,0.01), -9px 17px 19px 0 rgba(0,0,0,0.02), -2px 4px 11px 0 rgba(0,0,0,0.03);
  --hard: -45px 80px 26px 0 rgba(0,0,0,0.00), -29px 51px 23px 0 rgba(0,0,0,0.01), -16px 29px 20px 0 rgba(0,0,0,0.02), -7px 13px 15px 0 rgba(0,0,0,0.03), -2px 3px 8px 0 rgba(0,0,0,0.04);
  --header: 0 4px 032px 0 rgba(0,0,0,0.02);
  --dropdown: 0 54px 15px 0 rgba(0,0,0,0.00), 0 35px 14px 0 rgba(0,0,0,0.00), 0 19px 12px 0 rgba(0,0,0,0.02), 0 9px 9px 0 rgba(0,0,0,0.03), 0 2px 5px 0 rgba(0,0,0,0.03);
  --teal-100: #e2f3f9;
  --teal-150: #d3edf6;
  --teal-200: #c4e7f3;
  --teal-300: #a7dbec;
  --teal-400: #89cfe6;
  --teal-500: #6cc3e0;
  --teal-600: #58a1b9;
  --teal-700: #437f92;
  --teal-800: #2f5c6c;
  --teal-850: #254b58;
  --teal-900: #1a3a45;
  --teal-950: #102931;
  --teal-999: #06181e;
  --teal-000: #ffffff;
  --teal-050: #f0f9fc;
  --purple-100: #ece9fc;
  --purple-150: #e2ddfa;
  --purple-200: #d9d2f9;
  --purple-300: #c5bcf5;
  --purple-400: #b2a5f2;
  --purple-500: #9f8fef;
  --purple-600: #8475ce;
  --purple-700: #685aad;
  --purple-800: #4d408d;
  --purple-850: #3f337c;
  --purple-900: #31256c;
  --purple-950: #24185b;
  --purple-999: #160b4b;
  --purple-000: #ffffff;
  --purple-050: #f5f4fd;
  --lime-100: #eaf4da;
  --lime-150: #dfeec8;
  --lime-200: #d4e9b6;
  --lime-300: #bfdd91;
  --lime-400: #a9d26d;
  --lime-500: #94c748;
  --lime-600: #769f3a;
  --lime-700: #59772b;
  --lime-800: #3b501d;
  --lime-850: #2c3c16;
  --lime-900: #1e280e;
  --lime-950: #0f1407;
  --lime-999: #000000;
  --lime-000: #ffffff;
  --lime-050: #f4f9ed;
  --magenta-100: #fae3f1;
  --magenta-150: #f8d5eb;
  --magenta-200: #f5c7e4;
  --magenta-300: #f1acd6;
  --magenta-400: #ec90c9;
  --magenta-500: #e774bb;
  --magenta-600: #c25e9c;
  --magenta-700: #9c497c;
  --magenta-800: #77335d;
  --magenta-850: #64284d;
  --magenta-900: #511e3d;
  --magenta-950: #3f132e;
  --magenta-999: #2c081e;
  --magenta-000: #ffffff;
  --magenta-050: #fdf1f8;
  --neutralgrey-100: #edeef0;
  --neutralgrey-150: #e4e5e7;
  --neutralgrey-200: #c9cbcf;
  --neutralgrey-300: #b7babf;
  --neutralgrey-400: #9fa3a9;
  --neutralgrey-500: #878c94;
  --neutralgrey-600: #60656c;
  --neutralgrey-700: #515459;
  --neutralgrey-800: #3c3f44;
  --neutralgrey-850: #292a2c;
  --neutralgrey-900: #1b1c1e;
  --neutralgrey-950: #0d0d0e;
  --neutralgrey-999: #0d0d0e;
  --neutralgrey-000: #ffffff;
  --neutralgrey-050: #f7f7f8;
  --brand-primary: var(--brand-500);
  --brand-light: var(--brand-300);
  --brand-deep: var(--brand-700);
  --neutrals-background-primary-contrast: var(--grey-850);
  --neutrals-background-primary: var(--grey-950);
  --neutrals-background-secondary: var(--grey-700);
  --neutrals-background-canvas: var(--grey-850);
  --neutrals-foreground-primary: var(--grey-000);
  --neutrals-foreground-subtle: var(--grey-200);
  --neutrals-foreground-colored: var(--brand-300);
  --neutrals-border-default: var(--grey-300);
  --neutrals-border-mute: var(--grey-600);
  --neutrals-border-subtle: var(--grey-800);
  --neutrals-border-disabled: var(--grey-500);
  --interactive-primary-background-default: var(--grey-000);
  --interactive-primary-background-hover: var(--grey-150);
  --interactive-primary-background-disabled: var(--grey-000);
  --interactive-primary-foreground-default: var(--grey-950);
  --interactive-primary-foreground-hover: var(--grey-950);
  --interactive-primary-foreground-disabled: var(--grey-950);
  --interactive-primary-foreground-border-focus: var(--blue-500);
  --interactive-secondary-background-default: var(--grey-700);
  --interactive-secondary-background-hover: var(--grey-600);
  --interactive-secondary-background-disabled: var(--grey-700);
  --interactive-secondary-foreground-default: var(--grey-000);
  --interactive-secondary-foreground-hover: var(--grey-000);
  --interactive-secondary-foreground-disabled: var(--grey-000);
  --interactive-secondary-border-focus: var(--blue-500);
  --interactive-outlined-foreground-default: var(--grey-000);
  --interactive-outlined-foreground-hover: var(--grey-000);
  --interactive-outlined-foreground-disabled: var(--grey-000);
  --interactive-outlined-border-default: var(--grey-600);
  --interactive-outlined-border-hover: var(--grey-000);
  --interactive-outlined-border-focus: var(--blue-500);
  --interactive-outlined-border-disabled: var(--grey-600);
  --interactive-ghost-background-hover: var(--grey-700);
  --interactive-ghost-foreground-default: var(--grey-000);
  --interactive-ghost-foreground-hover: var(--grey-000);
  --interactive-ghost-foreground-disabled: var(--grey-000);
  --interactive-ghost-border-focus: var(--blue-500);
  --interactive-links-default: var(--blue-400);
  --interactive-links-hover: var(--grey-000);
  --interactive-links-focus: var(--blue-500);
  --interactive-links-visited: var(--grey-200);
  --interactive-danger-background-default: var(--red-500);
  --interactive-danger-background-hover: var(--red-400);
  --interactive-danger-background-disabled: var(--red-500);
  --interactive-danger-foreground-default: var(--grey-950);
  --interactive-danger-foreground-hover: var(--grey-950);
  --interactive-danger-foreground-disabled: var(--grey-950);
  --interactive-danger-border-focus: var(--blue-500);
  --feedback-background-default-info: var(--blue-950);
  --feedback-background-default-error: var(--red-950);
  --feedback-background-default-warning: var(--yellow-950);
  --feedback-background-default-success: var(--green-950);
  --feedback-background-default-neutral: var(--neutralgrey-800);
  --feedback-background-subtle-info: var(--blue-999);
  --feedback-background-subtle-error: var(--red-999);
  --feedback-background-subtle-warning: var(--yellow-999);
  --feedback-background-subtle-success: var(--green-999);
  --feedback-background-subtle-neutral: var(--neutralgrey-850);
  --feedback-background-emphasized-info: var(--blue-700);
  --feedback-background-emphasized-error: var(--red-700);
  --feedback-background-emphasized-warning: var(--yellow-500);
  --feedback-background-emphasized-success: var(--green-800);
  --feedback-background-emphasized-neutral: var(--neutralgrey-150);
  --feedback-foreground-default-info: var(--neutralgrey-000);
  --feedback-foreground-default-error: var(--neutralgrey-000);
  --feedback-foreground-default-warning: var(--neutralgrey-000);
  --feedback-foreground-default-success: var(--neutralgrey-000);
  --feedback-foreground-default-neutral: var(--neutralgrey-000);
  --feedback-foreground-subtle-info: var(--neutralgrey-000);
  --feedback-foreground-subtle-error: var(--neutralgrey-000);
  --feedback-foreground-subtle-warning: var(--neutralgrey-000);
  --feedback-foreground-subtle-success: var(--neutralgrey-000);
  --feedback-foreground-subtle-neutral: var(--neutralgrey-000);
  --feedback-foreground-emphasized-info: var(--neutralgrey-000);
  --feedback-foreground-emphasized-error: var(--neutralgrey-000);
  --feedback-foreground-emphasized-warning: var(--neutralgrey-999);
  --feedback-foreground-emphasized-success: var(--neutralgrey-000);
  --feedback-foreground-emphasized-neutral: var(--neutralgrey-999);
  --dangerlevel-background-mute-level1: var(--green-150);
  --dangerlevel-background-mute-level2: var(--yellow-200);
  --dangerlevel-background-mute-level3: var(--orange-150);
  --dangerlevel-background-mute-level4: var(--red-050);
  --dangerlevel-background-mute-level5: var(--neutralgrey-200);
  --dangerlevel-background-subtle-level1: var(--green-100);
  --dangerlevel-background-subtle-level2: var(--yellow-100);
  --dangerlevel-background-subtle-level3: var(--orange-050);
  --dangerlevel-background-subtle-level4: var(--red-000);
  --dangerlevel-background-subtle-level5: var(--neutralgrey-150);
  --dangerlevel-background-default-level1: var(--green-500);
  --dangerlevel-background-default-level2: var(--yellow-500);
  --dangerlevel-background-default-level3: var(--orange-400);
  --dangerlevel-background-default-level4: var(--red-500);
  --dangerlevel-background-default-level5: var(--neutralgrey-950);
  --dangerlevel-foreground-default-level1: var(--neutralgrey-999);
  --dangerlevel-foreground-default-level2: var(--neutralgrey-999);
  --dangerlevel-foreground-default-level3: var(--neutralgrey-999);
  --dangerlevel-foreground-default-level4: var(--neutralgrey-999);
  --dangerlevel-foreground-default-level5: var(--neutralgrey-000);
  --dangerlevel-foreground-mute-level1: var(--neutralgrey-999);
  --dangerlevel-foreground-mute-level2: var(--neutralgrey-999);
  --dangerlevel-foreground-mute-level3: var(--neutralgrey-999);
  --dangerlevel-foreground-mute-level4: var(--neutralgrey-999);
  --dangerlevel-foreground-mute-level5: var(--neutralgrey-999);
  --dangerlevel-foreground-subtle-level1: var(--neutralgrey-999);
  --dangerlevel-foreground-subtle-level2: var(--neutralgrey-999);
  --dangerlevel-foreground-subtle-level3: var(--neutralgrey-999);
  --dangerlevel-foreground-subtle-level4: var(--neutralgrey-999);
  --dangerlevel-foreground-subtle-level5: var(--neutralgrey-999);
  --dangerlevel-foreground-yellow-background: var(--yellow-150);
  --dangerlevel-foreground-yellow-foreground: var(--lime-999);
  --dangerlevel-foreground-grey-background: var(--grey-150);
  --dangerlevel-foreground-grey-foreground: var(--grey-850);
  --dangerlevel-foreground-red-background: var(--red-100);
  --dangerlevel-foreground-red-foreground: var(--red-999);
  --dangerlevel-foreground-blue-background: var(--blue-150);
  --dangerlevel-foreground-blue-foreground: var(--blue-950);
  --supplemental-subtle-teal-background: var(--teal-850);
  --supplemental-subtle-teal-foreground: var(--teal-150);
  --supplemental-subtle-purple-background: var(--purple-950);
  --supplemental-subtle-purple-foreground: var(--purple-150);
  --supplemental-subtle-lime-background: var(--lime-850);
  --supplemental-subtle-lime-foreground: var(--lime-150);
  --supplemental-subtle-magenta-background: var(--magenta-850);
  --supplemental-subtle-magenta-foreground: var(--magenta-100);
  --supplemental-subtle-yellow-background: var(--yellow-999);
  --supplemental-subtle-yellow-foreground: var(--yellow-050);
  --supplemental-subtle-grey-background: var(--neutralgrey-900);
  --supplemental-subtle-grey-foreground: var(--neutralgrey-000);
  --supplemental-subtle-red-background: var(--red-950);
  --supplemental-subtle-red-foreground: var(--red-100);
  --supplemental-subtle-blue-background: var(--blue-950);
  --supplemental-subtle-blue-foreground: var(--blue-100);
  --supplemental-emphasized-teal-background: var(--teal-400);
  --supplemental-emphasized-teal-foreground: var(--teal-950);
  --supplemental-emphasized-purple-background: var(--purple-150);
  --supplemental-emphasized-purple-foreground: var(--purple-950);
  --supplemental-emphasized-lime-background: var(--lime-300);
  --supplemental-emphasized-lime-foreground: var(--lime-950);
  --supplemental-emphasized-magenta-background: var(--magenta-300);
  --supplemental-emphasized-magenta-foreground: var(--magenta-950);
  --supplemental-emphasized-yellow-background: var(--yellow-300);
  --supplemental-emphasized-yellow-foreground: var(--neutralgrey-999);
  --supplemental-emphasized-grey-background: var(--neutralgrey-400);
  --supplemental-emphasized-grey-foreground: var(--neutralgrey-999);
  --supplemental-emphasized-red-background: var(--red-300);
  --supplemental-emphasized-red-foreground: var(--neutralgrey-999);
  --supplemental-emphasized-blue-background: var(--blue-300);
  --supplemental-emphasized-blue-foreground: var(--grey-999); }

@media (min-width: 1400px) {
/**
 * Do not edit directly, this file was auto-generated.
 */

:root.rme, :root.rme_darkmode {
  --spacing-none: 0;
  --dimension-025x: 0.0625rem; /** 1px */
  --dimension-05x: 0.125rem; /** 2px */
  --dimension-1x: 0.25rem; /** 4px */
  --dimension-2x: 0.5rem; /** 8px */
  --dimension-3x: 0.75rem; /** 12px */
  --dimension-3-5x: 0.875rem; /** 14px */
  --dimension-4x: 1rem; /** 16px */
  --dimension-4-5x: 1.125rem; /** 18px */
  --dimension-5x: 1.25rem; /** 20px */
  --dimension-6x: 1.5rem; /** 24px */
  --dimension-7x: 1.75rem; /** 28px */
  --dimension-8x: 2rem; /** 32px */
  --dimension-9x: 2.25rem; /** 36px */
  --dimension-10x: 2.5rem; /** 40px */
  --dimension-11x: 2.75rem; /** 44px */
  --dimension-12x: 3rem; /** 48px */
  --dimension-13x: 3.25rem; /** 52px */
  --dimension-14x: 3.5rem; /** 56px */
  --dimension-15x: 3.75rem; /** 60px */
  --dimension-16x: 4rem; /** 64px */
  --dimension-17x: 4.25rem; /** 68px */
  --dimension-18x: 4.5rem; /** 72px */
  --dimension-19x: 4.75rem; /** 76px */
  --dimension-20x: 5rem; /** 80px */
  --dimension-21x: 5.25rem; /** 84px */
  --dimension-22x: 5.5rem; /** 88px */
  --dimension-23x: 5.75rem; /** 92px */
  --dimension-24x: 6rem; /** 96px */
  --dimension-25x: 6.25rem; /** 100px */
  --dimension-26x: 6.5rem; /** 104px */
  --dimension-27x: 6.75rem; /** 108px */
  --dimension-28x: 7rem; /** 112px */
  --dimension-29x: 7.25rem; /** 116px */
  --dimension-30x: 7.5rem; /** 120px */
  --letter-spacing-0: 0em;
  --letter-spacing-1: 0.05em;
  --paragraph-spacing-0: 0;
  --paragraph-spacing-1: 12px;
  --paragraph-spacing-2: 16px;
  --paragraph-spacing-3: 24px;
  --paragraph-spacing-4: 32px;
  --paragraph-spacing-5: 40px;
  --paragraph-indent-0: 0px;
  --content-margin-top-bottom-mobile: 24px;
  --content-margin-top-bottom-desktop: 40px;
  --content-margin-top-bottom-desktop-small: 32px;
  --content-margin-top-bottom-desktop-large: 40px;
  --content-margin-left-right-mobile: 24px;
  --content-margin-left-right-desktop-small: 50px;
  --content-margin-left-right-desktop: 220px;
  --content-margin-left-right-desktop-large: 620px;
  --border-radius-none: 0px;
  --border-radius-small: 4px;
  --border-radius-large: 6px;
  --border-radius-circle: 50px;
  --border-radius-pill: 9999px;
  --border-width-none: 0px;
  --border-width-default: 1px;
  --border-width-strong: 2px;
  --content-area-mobile: 366px;
  --content-area-desktop-small: 700px;
  --content-area-desktop: 1000px;
  --content-area-desktop-large: 1200px;
  --device-width-mobile: 390px;
  --device-width-desktop-small: 800px;
  --device-width-desktop: 1440px;
  --device-width-desktop-large: 2440px;
  --spacing-xx-small: var(--dimension-1x);
  --spacing-x-small: var(--dimension-2x);
  --spacing-small: var(--dimension-3x);
  --spacing-medium: var(--dimension-4x);
  --spacing-large: var(--dimension-6x);
  --spacing-x-large: var(--dimension-8x);
  --spacing-2x-large: var(--dimension-12x);
  --spacing-3x-large: var(--dimension-16x);
  --spacing-4x-large: var(--dimension-20x);
  --spacing-5x-large: var(--dimension-24x);
  --device-width: var(--device-width-desktop-large);
  --device-content: var(--content-area-desktop-large);
  --sizing-2x-small: var(--dimension-6x);
  --sizing-x-small: var(--dimension-9x);
  --sizing-small: var(--dimension-12x);
  --sizing-medium: var(--dimension-15x);
  --sizing-large: var(--dimension-18x);
  --sizing-x-large: var(--dimension-21x);
  --sizing-3x-small: var(--dimension-4x);
  --sizing-4x-small: var(--dimension-2x);
  --sizing-2x-large: var(--dimension-24x);
  --content-margin-top-bottom: var(--content-margin-top-bottom-desktop-large);
  --content-margin-left-right: var(--content-margin-left-right-desktop-large);
  --font-size-2xsmall: var(--dimension-3-5x); /** 12 px */
  --font-size-xsmall: var(--dimension-4x); /** 14 px */
  --font-size-small: var(--dimension-4-5x); /** 16 px */
  --font-size-medium: var(--dimension-5x); /** 18 px */
  --font-size-large: var(--dimension-6x); /** 20 px */
  --font-size-xlarge: var(--dimension-8x); /** 24 px */
  --font-size-2xlarge: var(--dimension-10x); /** 32 px */
  --font-size-3xlarge: var(--dimension-12x); /** 40 px */
}

}
@media (max-width: 1200px) {
/**
 * Do not edit directly, this file was auto-generated.
 */

:root.rme, :root.rme_darkmode {
  --spacing-none: 0;
  --dimension-025x: 0.0625rem; /** 1px */
  --dimension-05x: 0.125rem; /** 2px */
  --dimension-1x: 0.25rem; /** 4px */
  --dimension-2x: 0.5rem; /** 8px */
  --dimension-3x: 0.75rem; /** 12px */
  --dimension-3-5x: 0.875rem; /** 14px */
  --dimension-4x: 1rem; /** 16px */
  --dimension-4-5x: 1.125rem; /** 18px */
  --dimension-5x: 1.25rem; /** 20px */
  --dimension-6x: 1.5rem; /** 24px */
  --dimension-7x: 1.75rem; /** 28px */
  --dimension-8x: 2rem; /** 32px */
  --dimension-9x: 2.25rem; /** 36px */
  --dimension-10x: 2.5rem; /** 40px */
  --dimension-11x: 2.75rem; /** 44px */
  --dimension-12x: 3rem; /** 48px */
  --dimension-13x: 3.25rem; /** 52px */
  --dimension-14x: 3.5rem; /** 56px */
  --dimension-15x: 3.75rem; /** 60px */
  --dimension-16x: 4rem; /** 64px */
  --dimension-17x: 4.25rem; /** 68px */
  --dimension-18x: 4.5rem; /** 72px */
  --dimension-19x: 4.75rem; /** 76px */
  --dimension-20x: 5rem; /** 80px */
  --dimension-21x: 5.25rem; /** 84px */
  --dimension-22x: 5.5rem; /** 88px */
  --dimension-23x: 5.75rem; /** 92px */
  --dimension-24x: 6rem; /** 96px */
  --dimension-25x: 6.25rem; /** 100px */
  --dimension-26x: 6.5rem; /** 104px */
  --dimension-27x: 6.75rem; /** 108px */
  --dimension-28x: 7rem; /** 112px */
  --dimension-29x: 7.25rem; /** 116px */
  --dimension-30x: 7.5rem; /** 120px */
  --letter-spacing-0: 0em;
  --letter-spacing-1: 0.05em;
  --paragraph-spacing-0: 0;
  --paragraph-spacing-1: 12px;
  --paragraph-spacing-2: 16px;
  --paragraph-spacing-3: 24px;
  --paragraph-spacing-4: 32px;
  --paragraph-spacing-5: 40px;
  --paragraph-indent-0: 0px;
  --content-margin-top-bottom-mobile: 24px;
  --content-margin-top-bottom-desktop: 40px;
  --content-margin-top-bottom-desktop-small: 32px;
  --content-margin-top-bottom-desktop-large: 40px;
  --content-margin-left-right-mobile: 24px;
  --content-margin-left-right-desktop-small: 50px;
  --content-margin-left-right-desktop: 220px;
  --content-margin-left-right-desktop-large: 620px;
  --border-radius-none: 0px;
  --border-radius-small: 4px;
  --border-radius-large: 6px;
  --border-radius-circle: 50px;
  --border-radius-pill: 9999px;
  --border-width-none: 0px;
  --border-width-default: 1px;
  --border-width-strong: 2px;
  --content-area-mobile: 366px;
  --content-area-desktop-small: 700px;
  --content-area-desktop: 1000px;
  --content-area-desktop-large: 1200px;
  --device-width-mobile: 390px;
  --device-width-desktop-small: 800px;
  --device-width-desktop: 1440px;
  --device-width-desktop-large: 2440px;
  --spacing-xx-small: var(--dimension-1x);
  --spacing-x-small: var(--dimension-2x);
  --spacing-small: var(--dimension-3x);
  --spacing-medium: var(--dimension-4x);
  --spacing-large: var(--dimension-5x);
  --spacing-x-large: var(--dimension-7x);
  --spacing-2x-large: var(--dimension-10x);
  --spacing-3x-large: var(--dimension-14x);
  --spacing-4x-large: var(--dimension-20x);
  --spacing-5x-large: var(--dimension-22x);
  --device-width: var(--device-width-desktop-small);
  --device-content: var(--content-area-desktop-small);
  --sizing-2x-small: var(--dimension-5x);
  --sizing-x-small: var(--dimension-8x);
  --sizing-small: var(--dimension-11x);
  --sizing-medium: var(--dimension-14x);
  --sizing-large: var(--dimension-17x);
  --sizing-x-large: var(--dimension-20x);
  --sizing-3x-small: var(--dimension-3-5x);
  --sizing-4x-small: var(--dimension-1x);
  --sizing-2x-large: var(--dimension-23x);
  --content-margin-top-bottom: var(--content-margin-top-bottom-desktop-small);
  --content-margin-left-right: var(--content-margin-left-right-desktop-small);
  --font-size-2xsmall: var(--dimension-3x); /** 12 px */
  --font-size-xsmall: var(--dimension-3-5x); /** 14 px */
  --font-size-small: var(--dimension-4x); /** 16 px */
  --font-size-medium: var(--dimension-4-5x); /** 18 px */
  --font-size-large: var(--dimension-5x); /** 20 px */
  --font-size-xlarge: var(--dimension-7x); /** 24 px */
  --font-size-2xlarge: var(--dimension-9x); /** 32 px */
  --font-size-3xlarge: var(--dimension-11x); /** 40 px */
}

}
@media (max-width: 600px) {
/**
 * Do not edit directly, this file was auto-generated.
 */

:root.rme, :root.rme_darkmode {
  --spacing-none: 0;
  --dimension-025x: 0.0625rem; /** 1px */
  --dimension-05x: 0.125rem; /** 2px */
  --dimension-1x: 0.25rem; /** 4px */
  --dimension-2x: 0.5rem; /** 8px */
  --dimension-3x: 0.75rem; /** 12px */
  --dimension-3-5x: 0.875rem; /** 14px */
  --dimension-4x: 1rem; /** 16px */
  --dimension-4-5x: 1.125rem; /** 18px */
  --dimension-5x: 1.25rem; /** 20px */
  --dimension-6x: 1.5rem; /** 24px */
  --dimension-7x: 1.75rem; /** 28px */
  --dimension-8x: 2rem; /** 32px */
  --dimension-9x: 2.25rem; /** 36px */
  --dimension-10x: 2.5rem; /** 40px */
  --dimension-11x: 2.75rem; /** 44px */
  --dimension-12x: 3rem; /** 48px */
  --dimension-13x: 3.25rem; /** 52px */
  --dimension-14x: 3.5rem; /** 56px */
  --dimension-15x: 3.75rem; /** 60px */
  --dimension-16x: 4rem; /** 64px */
  --dimension-17x: 4.25rem; /** 68px */
  --dimension-18x: 4.5rem; /** 72px */
  --dimension-19x: 4.75rem; /** 76px */
  --dimension-20x: 5rem; /** 80px */
  --dimension-21x: 5.25rem; /** 84px */
  --dimension-22x: 5.5rem; /** 88px */
  --dimension-23x: 5.75rem; /** 92px */
  --dimension-24x: 6rem; /** 96px */
  --dimension-25x: 6.25rem; /** 100px */
  --dimension-26x: 6.5rem; /** 104px */
  --dimension-27x: 6.75rem; /** 108px */
  --dimension-28x: 7rem; /** 112px */
  --dimension-29x: 7.25rem; /** 116px */
  --dimension-30x: 7.5rem; /** 120px */
  --letter-spacing-0: 0em;
  --letter-spacing-1: 0.05em;
  --paragraph-spacing-0: 0;
  --paragraph-spacing-1: 12px;
  --paragraph-spacing-2: 16px;
  --paragraph-spacing-3: 24px;
  --paragraph-spacing-4: 32px;
  --paragraph-spacing-5: 40px;
  --paragraph-indent-0: 0px;
  --content-margin-top-bottom-mobile: 24px;
  --content-margin-top-bottom-desktop: 40px;
  --content-margin-top-bottom-desktop-small: 32px;
  --content-margin-top-bottom-desktop-large: 40px;
  --content-margin-left-right-mobile: 24px;
  --content-margin-left-right-desktop-small: 50px;
  --content-margin-left-right-desktop: 220px;
  --content-margin-left-right-desktop-large: 620px;
  --border-radius-none: 0px;
  --border-radius-small: 4px;
  --border-radius-large: 6px;
  --border-radius-circle: 50px;
  --border-radius-pill: 9999px;
  --border-width-none: 0px;
  --border-width-default: 1px;
  --border-width-strong: 2px;
  --content-area-mobile: 366px;
  --content-area-desktop-small: 700px;
  --content-area-desktop: 1000px;
  --content-area-desktop-large: 1200px;
  --device-width-mobile: 390px;
  --device-width-desktop-small: 800px;
  --device-width-desktop: 1440px;
  --device-width-desktop-large: 2440px;
  --spacing-xx-small: var(--dimension-05x);
  --spacing-x-small: var(--dimension-1x);
  --spacing-small: var(--dimension-2x);
  --spacing-medium: var(--dimension-3x);
  --spacing-large: var(--dimension-4x);
  --spacing-x-large: var(--dimension-6x);
  --spacing-2x-large: var(--dimension-8x);
  --spacing-3x-large: var(--dimension-11x);
  --spacing-4x-large: var(--dimension-16x);
  --spacing-5x-large: var(--dimension-19x);
  --device-width: var(--device-width-mobile);
  --device-content: var(--content-area-mobile);
  --sizing-2x-small: var(--dimension-4-5x);
  --sizing-x-small: var(--dimension-7x);
  --sizing-small: var(--dimension-10x);
  --sizing-medium: var(--dimension-13x);
  --sizing-large: var(--dimension-16x);
  --sizing-x-large: var(--dimension-19x);
  --sizing-3x-small: var(--dimension-3x);
  --sizing-4x-small: var(--dimension-05x);
  --sizing-2x-large: var(--dimension-22x);
  --content-margin-top-bottom: var(--content-margin-top-bottom-mobile);
  --content-margin-left-right: var(--content-margin-left-right-mobile);
  --font-size-2xsmall: var(--dimension-3x); /** 12 px */
  --font-size-xsmall: var(--dimension-3-5x); /** 14 px */
  --font-size-small: var(--dimension-4x); /** 16 px */
  --font-size-medium: var(--dimension-4-5x); /** 18 px */
  --font-size-large: var(--dimension-5x); /** 20 px */
  --font-size-xlarge: var(--dimension-7x); /** 24 px */
  --font-size-2xlarge: var(--dimension-9x); /** 32 px */
  --font-size-3xlarge: var(--dimension-11x); /** 40 px */
}

}