:root.varsom { --brand-100: #fabf82;
  --brand-150: #f8b673;
  --brand-200: #f7ae63;
  --brand-300: #fabf82;
  --brand-400: #ff7b43;
  --brand-500: #ff5f1b;
  --brand-600: #f44900;
  --brand-700: #f44900;
  --brand-800: #874602;
  --brand-850: #763d02;
  --brand-900: #653502;
  --brand-950: #542c01;
  --brand-999: #432301;
  --brand-000: #ffdfba;
  --brand-050: #fbc792;
  --grey-100: #f7f7f8;
  --grey-150: #c8eaf9;
  --grey-200: #7ec4e2;
  --grey-300: #b7babf;
  --grey-400: #9fa3a9;
  --grey-500: #878c94;
  --grey-600: #006b99;
  --grey-700: #00425f;
  --grey-800: #00425f;
  --grey-850: #002738;
  --grey-900: #1b1c1e;
  --grey-950: #00364e;
  --grey-999: #00131c;
  --grey-000: #ffffff;
  --grey-050: #eff8fc;
  --red-100: #ffc2c2;
  --red-150: #ffa8a8;
  --red-200: #ff9494;
  --red-300: #ff7575;
  --red-400: #ff5757;
  --red-500: #ff3131;
  --red-600: #ea2020;
  --red-700: #cc0000;
  --red-800: #bc0303;
  --red-850: #a80303;
  --red-900: #8f0a0a;
  --red-950: #6b0000;
  --red-999: #540000;
  --red-000: #ffebee;
  --red-050: #ffd8de;
  --yellow-100: #fff4d1;
  --yellow-150: #ffedb8;
  --yellow-200: #ffe8a5;
  --yellow-300: #ffe087;
  --yellow-400: #ffd867;
  --yellow-500: #ffd046;
  --yellow-600: #ecbf38;
  --yellow-700: #daad2a;
  --yellow-800: #c79c1c;
  --yellow-850: #be9315;
  --yellow-900: #b58a0e;
  --yellow-950: #ab8207;
  --yellow-999: #a27900;
  --yellow-000: #fff9e9;
  --yellow-050: #fff5d9;
  --blue-100: #ceeaff;
  --blue-150: #a8daff;
  --blue-200: #91d0ff;
  --blue-300: #65bdff;
  --blue-400: #38a9ff;
  --blue-500: #008ffb;
  --blue-600: #0f81fa;
  --blue-700: #1e6fdc;
  --blue-800: #0668b1;
  --blue-850: #044b81;
  --blue-900: #034272;
  --blue-950: #0f3970;
  --blue-999: #0b2951;
  --blue-000: #e6f4ff;
  --blue-050: #d5edff;
  --green-100: #e8fce8;
  --green-150: #cbf9cb;
  --green-200: #8af0a1;
  --green-300: #97f2a8;
  --green-400: #8af0a1;
  --green-500: #6bf198;
  --green-600: #57ce7f;
  --green-700: #43ab66;
  --green-800: #00814b;
  --green-850: #247740;
  --green-900: #1a6533;
  --green-950: #004126;
  --green-999: #00301c;
  --green-000: #f6fff9;
  --green-050: #f0fef5;
  --orange-100: #ffe3c2;
  --orange-150: #ffdaae;
  --orange-200: #ffc98a;
  --orange-300: #ffb186;
  --orange-400: #ff9a24;
  --orange-500: #ff833e;
  --orange-600: #e87332;
  --orange-700: #d16325;
  --orange-800: #b95219;
  --orange-850: #ae4a13;
  --orange-900: #a2420c;
  --orange-950: #973a06;
  --orange-999: #8b3200;
  --orange-000: #fff6f1;
  --orange-050: #ffecd6;
  --varsom-blue-100: #a6d8ee;
  --varsom-blue-150: #7ec4e2;
  --varsom-blue-200: #43a9d5;
  --varsom-blue-300: #2c96c4;
  --varsom-blue-400: #0e89be;
  --varsom-blue-500: #006b99;
  --varsom-blue-600: #005c85;
  --varsom-blue-700: #005175;
  --varsom-blue-800: #00425f;
  --varsom-blue-850: #00364e;
  --varsom-blue-900: #003147;
  --varsom-blue-950: #002738;
  --varsom-blue-999: #00131c;
  --varsom-blue-000: #eff8fc;
  --varsom-blue-050: #c8eaf9;
  --opacity-disabled: 38%;
  --dimension-025x: 0.0625rem; /** 1px */
  --dimension-05x: 0.125rem; /** 2px */
  --dimension-1x: 0.25rem; /** 4px */
  --dimension-2x: 0.5rem; /** 8px */
  --dimension-3x: 0.75rem; /** 12px */
  --dimension-3-5x: 0.875rem; /** 14px */
  --dimension-4x: 1rem; /** 16px */
  --dimension-4-5x: 1.125rem; /** 18px */
  --dimension-5x: 1.25rem; /** 20px */
  --dimension-6x: 1.5rem; /** 24px */
  --dimension-7x: 1.75rem; /** 28px */
  --dimension-8x: 2rem; /** 32px */
  --dimension-9x: 2.25rem; /** 36px */
  --dimension-10x: 2.5rem; /** 40px */
  --dimension-11x: 2.75rem; /** 44px */
  --dimension-12x: 3rem; /** 48px */
  --dimension-13x: 3.25rem; /** 52px */
  --dimension-14x: 3.5rem; /** 56px */
  --dimension-15x: 3.75rem; /** 60px */
  --dimension-16x: 4rem; /** 64px */
  --dimension-17x: 4.25rem; /** 68px */
  --dimension-18x: 4.5rem; /** 72px */
  --dimension-19x: 4.75rem; /** 76px */
  --dimension-20x: 5rem; /** 80px */
  --dimension-21x: 5.25rem; /** 84px */
  --dimension-22x: 5.5rem; /** 88px */
  --dimension-23x: 5.75rem; /** 92px */
  --dimension-24x: 6rem; /** 96px */
  --dimension-25x: 6.25rem; /** 100px */
  --dimension-26x: 6.5rem; /** 104px */
  --dimension-27x: 6.75rem; /** 108px */
  --dimension-28x: 7rem; /** 112px */
  --dimension-29x: 7.25rem; /** 116px */
  --dimension-30x: 7.5rem; /** 120px */
  --font-families-source-sans-pro: 'Source Sans Pro';
  --line-heights-zero: 115%;
  --line-heights-1: 120%;
  --line-heights-2: 125%;
  --line-heights-3: 130%;
  --line-heights-4: 140%;
  --line-heights-5: 150%;
  --line-heights-6: 110%;
  --letter-spacing-zero: 0%;
  --letter-spacing-1: 5%;
  --paragraph-spacing-zero: 0;
  --paragraph-spacing-1: 12;
  --paragraph-spacing-2: 16;
  --paragraph-spacing-3: 24;
  --paragraph-spacing-4: 32;
  --paragraph-spacing-5: 40;
  --text-case-capitalize: capitalize;
  --text-case-none: none;
  --text-case-uppercase: uppercase;
  --text-decoration-none: none;
  --text-decoration-underline: underline;
  --paragraph-indent-zero: 0px;
  --content-margin-top-bottom-mobile: 24px;
  --content-margin-top-bottom-desktop: 40px;
  --content-margin-top-bottom-desktop-small: 32px;
  --content-margin-top-bottom-desktop-large: 40px;
  --content-margin-left-right-mobile: 24px;
  --content-margin-left-right-desktop-small: 50px;
  --content-margin-left-right-desktop: 220px;
  --content-margin-left-right-desktop-large: 620px;
  --border-radius-none: 0px;
  --border-radius-small: 4px;
  --border-radius-large: 6px;
  --border-radius-circle: 50px;
  --border-radius-pill: 9999px;
  --border-width-none: 0px;
  --border-width-default: 1px;
  --border-width-strong: 2px;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --none: 0px 0px 0px 0px rgba(0,0,0,0);
  --soft: -59px 104px 33px 0px rgba(0,0,0,0.00), -38px 67px 31px 0px rgba(0,0,0,0.00), -21px 37px 26px 0px rgba(0,0,0,0.01), -9px 17px 19px 0px rgba(0,0,0,0.02), -2px 4px 11px 0px rgba(0,0,0,0.03);
  --hard: -45px 80px 26px 0px rgba(0,0,0,0.00), -29px 51px 23px 0px rgba(0,0,0,0.01), -16px 29px 20px 0px rgba(0,0,0,0.02), -7px 13px 15px 0px rgba(0,0,0,0.03), -2px 3px 8px 0px rgba(0,0,0,0.04);
  --header: 0px 4px 032px 0px rgba(0,0,0,0.02);
  --dropdown: 0px 54px 15px 0px rgba(0,0,0,0.00), 0px 35px 14px 0px rgba(0,0,0,0.00), 0px 19px 12px 0px rgba(0,0,0,0.02), 0px 9px 9px 0px rgba(0,0,0,0.03), 0px 2px 5px 0px rgba(0,0,0,0.03);
  --content-area-mobile: 366px;
  --content-area-desktop-small: 700px;
  --content-area-desktop: 1000px;
  --content-area-desktop-large: 1200px;
  --device-width-mobile: 390px;
  --device-width-desktop-small: 800px;
  --device-width-desktop: 1440px;
  --device-width-desktop-large: 2440px;
  --teal-100: #e2f3f9;
  --teal-150: #d3edf6;
  --teal-200: #c4e7f3;
  --teal-300: #a7dbec;
  --teal-400: #89cfe6;
  --teal-500: #6cc3e0;
  --teal-600: #58a1b9;
  --teal-700: #437f92;
  --teal-800: #2f5c6c;
  --teal-850: #254b58;
  --teal-900: #1a3a45;
  --teal-950: #102931;
  --teal-999: #06181e;
  --teal-000: #ffffff;
  --teal-050: #f0f9fc;
  --purple-100: #ece9fc;
  --purple-150: #e2ddfa;
  --purple-200: #d9d2f9;
  --purple-300: #c5bcf5;
  --purple-400: #b2a5f2;
  --purple-500: #9f8fef;
  --purple-600: #8475ce;
  --purple-700: #685aad;
  --purple-800: #4d408d;
  --purple-850: #3f337c;
  --purple-900: #31256c;
  --purple-950: #24185b;
  --purple-999: #160b4b;
  --purple-000: #ffffff;
  --purple-050: #f5f4fd;
  --lime-100: #eaf4da;
  --lime-150: #dfeec8;
  --lime-200: #d4e9b6;
  --lime-300: #bfdd91;
  --lime-400: #a9d26d;
  --lime-500: #94c748;
  --lime-600: #769f3a;
  --lime-700: #59772b;
  --lime-800: #3b501d;
  --lime-850: #2c3c16;
  --lime-900: #1e280e;
  --lime-950: #0f1407;
  --lime-999: #000000;
  --lime-000: #ffffff;
  --lime-050: #f4f9ed;
  --magenta-100: #fae3f1;
  --magenta-150: #f8d5eb;
  --magenta-200: #f5c7e4;
  --magenta-300: #f1acd6;
  --magenta-400: #ec90c9;
  --magenta-500: #e774bb;
  --magenta-600: #c25e9c;
  --magenta-700: #9c497c;
  --magenta-800: #77335d;
  --magenta-850: #64284d;
  --magenta-900: #511e3d;
  --magenta-950: #3f132e;
  --magenta-999: #2c081e;
  --magenta-000: #ffffff;
  --magenta-050: #fdf1f8;
  --neutralgrey-100: #edeef0;
  --neutralgrey-150: #e4e5e7;
  --neutralgrey-200: #c9cbcf;
  --neutralgrey-300: #b7babf;
  --neutralgrey-400: #9fa3a9;
  --neutralgrey-500: #878c94;
  --neutralgrey-600: #60656c;
  --neutralgrey-700: #515459;
  --neutralgrey-800: #3c3f44;
  --neutralgrey-850: #292a2c;
  --neutralgrey-900: #1b1c1e;
  --neutralgrey-950: #0d0d0e;
  --neutralgrey-999: #0d0d0e;
  --neutralgrey-000: #ffffff;
  --neutralgrey-050: #f7f7f8;
  --brand-primary: #ff5f1b;
  --brand-light: #fabf82;
  --brand-deep: #f44900;
  --neutrals-background-primary-contrast: #eff8fc;
  --neutrals-background-primary: #ffffff;
  --neutrals-background-secondary: #c8eaf9;
  --neutrals-background-canvas: #eff8fc;
  --neutrals-foreground-primary: #00131c;
  --neutrals-foreground-subtle: #006b99;
  --neutrals-foreground-colored: #ff5f1b;
  --neutrals-border-default: #878c94;
  --neutrals-border-mute: #b7babf;
  --neutrals-border-subtle: #c8eaf9;
  --neutrals-border-disabled: #878c94;
  --interactive-primary-background-default: #00364e;
  --interactive-primary-background-hover: #00425f;
  --interactive-primary-background-disabled: #00364e;
  --interactive-primary-foreground-default: #ffffff;
  --interactive-primary-foreground-hover: #ffffff;
  --interactive-primary-foreground-disabled: #ffffff;
  --interactive-primary-foreground-border-focus: #008ffb;
  --interactive-secondary-background-default: #c8eaf9;
  --interactive-secondary-background-hover: #7ec4e2;
  --interactive-secondary-background-disabled: #c8eaf9;
  --interactive-secondary-foreground-default: #00364e;
  --interactive-secondary-foreground-hover: #00364e;
  --interactive-secondary-foreground-disabled: #00364e;
  --interactive-secondary-border-focus: #008ffb;
  --interactive-outlined-foreground-default: #00364e;
  --interactive-outlined-foreground-hover: #00364e;
  --interactive-outlined-foreground-disabled: #00364e;
  --interactive-outlined-border-default: #878c94;
  --interactive-outlined-border-hover: #00364e;
  --interactive-outlined-border-focus: #008ffb;
  --interactive-outlined-border-disabled: #878c94;
  --interactive-ghost-background-hover: #c8eaf9;
  --interactive-ghost-foreground-default: #00364e;
  --interactive-ghost-foreground-hover: #00364e;
  --interactive-ghost-foreground-disabled: #00364e;
  --interactive-ghost-border-focus: #008ffb;
  --interactive-links-default: #1e6fdc;
  --interactive-links-hover: #00364e;
  --interactive-links-focus: #1e6fdc;
  --interactive-links-visited: #006b99;
  --interactive-danger-background-default: #cc0000;
  --interactive-danger-background-hover: #a80303;
  --interactive-danger-background-disabled: #cc0000;
  --interactive-danger-foreground-default: #ffffff;
  --interactive-danger-foreground-hover: #ffffff;
  --interactive-danger-foreground-disabled: #ffffff;
  --interactive-danger-border-focus: #008ffb;
  --feedback-background-default-info: #ceeaff;
  --feedback-background-default-error: #ffd8de;
  --feedback-background-default-warning: #ffe8a5;
  --feedback-background-default-success: #cbf9cb;
  --feedback-background-default-neutral: #e4e5e7; /** For neutral messages */
  --feedback-background-subtle-info: #e6f4ff;
  --feedback-background-subtle-error: #ffebee;
  --feedback-background-subtle-warning: #fff4d1;
  --feedback-background-subtle-success: #e8fce8;
  --feedback-background-subtle-neutral: #f7f7f8;
  --feedback-background-emphasized-info: #1e6fdc;
  --feedback-background-emphasized-error: #cc0000;
  --feedback-background-emphasized-warning: #ffd046;
  --feedback-background-emphasized-success: #00814b;
  --feedback-background-emphasized-neutral: #3c3f44;
  --feedback-foreground-default-info: #0d0d0e;
  --feedback-foreground-default-error: #0d0d0e;
  --feedback-foreground-default-warning: #0d0d0e;
  --feedback-foreground-default-success: #0d0d0e;
  --feedback-foreground-default-neutral: #0d0d0e;
  --feedback-foreground-subtle-info: #0d0d0e;
  --feedback-foreground-subtle-error: #0d0d0e;
  --feedback-foreground-subtle-warning: #0d0d0e;
  --feedback-foreground-subtle-success: #0d0d0e;
  --feedback-foreground-subtle-neutral: #0d0d0e;
  --feedback-foreground-emphasized-info: #ffffff;
  --feedback-foreground-emphasized-error: #ffffff;
  --feedback-foreground-emphasized-warning: #0d0d0e;
  --feedback-foreground-emphasized-success: #ffffff;
  --feedback-foreground-emphasized-neutral: #ffffff;
  --dangerlevel-background-mute-level1: #cbf9cb;
  --dangerlevel-background-mute-level2: #ffe8a5;
  --dangerlevel-background-mute-level3: #ffdaae;
  --dangerlevel-background-mute-level4: #ffd8de;
  --dangerlevel-background-mute-level5: #c9cbcf;
  --dangerlevel-background-subtle-level1: #e8fce8;
  --dangerlevel-background-subtle-level2: #fff4d1;
  --dangerlevel-background-subtle-level3: #ffecd6;
  --dangerlevel-background-subtle-level4: #ffebee;
  --dangerlevel-background-subtle-level5: #e4e5e7;
  --dangerlevel-background-default-level1: #6bf198;
  --dangerlevel-background-default-level2: #ffd046;
  --dangerlevel-background-default-level3: #ff9a24;
  --dangerlevel-background-default-level4: #ff3131;
  --dangerlevel-background-default-level5: #0d0d0e;
  --dangerlevel-foreground-default-level1: #0d0d0e;
  --dangerlevel-foreground-default-level2: #0d0d0e;
  --dangerlevel-foreground-default-level3: #0d0d0e;
  --dangerlevel-foreground-default-level4: #0d0d0e;
  --dangerlevel-foreground-default-level5: #ffffff;
  --dangerlevel-foreground-mute-level1: #0d0d0e;
  --dangerlevel-foreground-mute-level2: #0d0d0e;
  --dangerlevel-foreground-mute-level3: #0d0d0e;
  --dangerlevel-foreground-mute-level4: #0d0d0e;
  --dangerlevel-foreground-mute-level5: #0d0d0e;
  --dangerlevel-foreground-subtle-level1: #0d0d0e;
  --dangerlevel-foreground-subtle-level2: #0d0d0e;
  --dangerlevel-foreground-subtle-level3: #0d0d0e;
  --dangerlevel-foreground-subtle-level4: #0d0d0e;
  --dangerlevel-foreground-subtle-level5: #0d0d0e;
  --supplemental-subtle-teal-background: #d3edf6;
  --supplemental-subtle-teal-foreground: #1a3a45;
  --supplemental-subtle-purple-background: #d9d2f9;
  --supplemental-subtle-purple-foreground: #24185b;
  --supplemental-subtle-lime-background: #dfeec8;
  --supplemental-subtle-lime-foreground: #2c3c16;
  --supplemental-subtle-magenta-background: #f8d5eb;
  --supplemental-subtle-magenta-foreground: #64284d;
  --supplemental-subtle-yellow-background: #ffedb8;
  --supplemental-subtle-yellow-foreground: #000000;
  --supplemental-subtle-grey-background: #e4e5e7;
  --supplemental-subtle-grey-foreground: #292a2c;
  --supplemental-subtle-red-background: #ffc2c2;
  --supplemental-subtle-red-foreground: #540000;
  --supplemental-subtle-blue-background: #a8daff;
  --supplemental-subtle-blue-foreground: #0f3970;
  --supplemental-emphasized-teal-background: #6cc3e0;
  --supplemental-emphasized-teal-foreground: #102931;
  --supplemental-emphasized-purple-background: #b2a5f2;
  --supplemental-emphasized-purple-foreground: #24185b;
  --supplemental-emphasized-lime-background: #94c748;
  --supplemental-emphasized-lime-foreground: #1e280e;
  --supplemental-emphasized-magenta-background: #e774bb;
  --supplemental-emphasized-magenta-foreground: #3f132e;
  --supplemental-emphasized-yellow-background: #ffd867;
  --supplemental-emphasized-yellow-foreground: #00131c;
  --supplemental-emphasized-grey-background: #9fa3a9;
  --supplemental-emphasized-grey-foreground: #0d0d0e;
  --supplemental-emphasized-red-b-ackground: #ff7575;
  --supplemental-emphasized-red-foreground: #00131c;
  --supplemental-emphasized-blue-background: #38a9ff;
  --supplemental-emphasized-blue-foreground: #00131c;
   --header-x-large: 600 3rem/115% 'Source Sans Pro';
  --header-large: 600 2.5rem/120% 'Source Sans Pro';
  --header-medium: 600 2rem/125% 'Source Sans Pro';
  --header-small: 600 1.5rem/130% 'Source Sans Pro';
  --subheading-large: 400 2.5rem/120% 'Source Sans Pro';
  --subheading-medium: 400 2rem/125% 'Source Sans Pro';
  --subheading-small: 400 1.5rem/130% 'Source Sans Pro';
  --ingress-large-regular: 400 1.5rem/140% 'Source Sans Pro';
  --ingress-large-semibold: 600 1.5rem/140% 'Source Sans Pro';
  --ingress-medium-regular: 400 1.25rem/150% 'Source Sans Pro';
  --ingress-medium-semibold: 600 1.25rem/150% 'Source Sans Pro';
  --ingress-small-regular: 400 1.125rem/150% 'Source Sans Pro';
  --ingress-small-semibold: 600 1.125rem/150% 'Source Sans Pro';
  --body-large: 400 1.25rem/150% 'Source Sans Pro';
  --body-large-underline: 400 1.25rem/150% 'Source Sans Pro';
  --body-medium: 400 1.125rem/150% 'Source Sans Pro';
  --body-medium-underline: 400 1.125rem/150% 'Source Sans Pro';
  --body-small: 400 1rem/150% 'Source Sans Pro';
  --body-small-underline: 400 1rem/150% 'Source Sans Pro';
  --body-xsmall: 400 0.875rem/150% 'Source Sans Pro';
  --body-xsmall-underline: 400 0.875rem/150% 'Source Sans Pro';
  --body-compact-large-compact: 400 1.25rem/120% 'Source Sans Pro';
  --body-compact-large-underline-compact: 400 1.25rem/120% 'Source Sans Pro';
  --body-compact-medium-compact: 400 1.125rem/120% 'Source Sans Pro';
  --body-compact-medium-underline-compact: 400 1.125rem/120% 'Source Sans Pro';
  --body-compact-small-compact: 400 1rem/120% 'Source Sans Pro';
  --body-compact-small-underline-compact: 400 1rem/120% 'Source Sans Pro';
  --body-compact-xsmall-compact: 400 0.875rem/120% 'Source Sans Pro';
  --body-compact-xsmall-underline-compact: 400 0.875rem/120% 'Source Sans Pro';
  --detailtext-caption: 400 0.875rem/150% 'Source Sans Pro';
  --detailtext-caps-large: 600 1.25rem/150% 'Source Sans Pro';
  --detailtext-caps-small: 600 1rem/150% 'Source Sans Pro';
  --label-large: 600 1.25rem/110% 'Source Sans Pro';
  --label-large-light: 400 1.25rem/110% 'Source Sans Pro';
  --label-medium: 600 1.125rem/110% 'Source Sans Pro';
  --label-medium-light: 400 1.125rem/110% 'Source Sans Pro';
  --label-small: 600 1rem/110% 'Source Sans Pro';
  --label-small-light: 400 1rem/110% 'Source Sans Pro';
  --label-x-small: 600 0.875rem/110% 'Source Sans Pro';
  --label-x-small-light: 400 0.875rem/110% 'Source Sans Pro';
  --spacing-xx-small: 0.25rem;
  --spacing-x-small: 0.5rem;
  --spacing-small: 0.75rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.5rem;
  --spacing-x-large: 2rem;
  --spacing-2x-large: 3rem;
  --spacing-3x-large: 4rem;
  --spacing-4x-large: 5rem;
  --spacing-5x-large: 6rem;
  --spacing-none: 0;
  --device-width: 1440px;
  --device-content: 1000px;
  --sizing-2x-small: 1.5rem;
  --sizing-x-small: 2.25rem;
  --sizing-small: 3rem;
  --sizing-medium: 3.75rem;
  --sizing-large: 4.5rem;
  --sizing-x-large: 5.25rem;
  --sizing-3x-small: 1rem;
  --sizing-4x-small: 0.5rem;
  --sizing-2x-large: 6rem;
  --content-margin-top-bottom: 40px;
  --content-margin-left-right: 220px;
  --font-size-2xsmall: 0.875rem; /** 12 px */
  --font-size-xsmall: 1rem; /** 14 px */
  --font-size-small: 1.125rem; /** 16 px */
  --font-size-medium: 1.25rem; /** 18 px */
  --font-size-large: 1.5rem; /** 20 px */
  --font-size-xlarge: 2rem; /** 24 px */
  --font-size-2xlarge: 2.5rem; /** 32 px */
  --font-size-3xlarge: 3rem; /** 40 px */
  --fixed-sizing-x-small: 1.25rem;
  --fixed-sizing-small: 1.5rem;
  --fixed-sizing-xx-small: 1rem;
  --fixed-sizing-medium: 2rem;
  --fixed-sizing-large: 2.5rem;
  --fixed-sizing-x-large: 3rem;
  --fixed-sizing-2x-large: 3.5rem;
  --fixed-sizing-3x-large: 4rem;
  --content-margin-top-bottom-mobile: 24px;
  --content-margin-top-bottom-desktop: 40px;
  --content-margin-top-bottom-desktop-small: 32px;
  --content-margin-top-bottom-desktop-large: 40px;
  --content-margin-left-right-mobile: 24px;
  --content-margin-left-right-desktop-small: 50px;
  --content-margin-left-right-desktop: 220px;
  --content-margin-left-right-desktop-large: 620px;
  --content-area-mobile: 366px;
  --content-area-desktop-small: 700px;
  --content-area-desktop: 1000px;
  --content-area-desktop-large: 1200px;
  --device-width-mobile: 390px;
  --device-width-desktop-small: 800px;
  --device-width-desktop: 1440px;
  --device-width-desktop-large: 2440px; }
:root.varsom_darkmode { --brand-100: #fabf82;
  --brand-150: #f8b673;
  --brand-200: #f7ae63;
  --brand-300: #fabf82;
  --brand-400: #ff7b43;
  --brand-500: #ff5f1b;
  --brand-600: #f44900;
  --brand-700: #f44900;
  --brand-800: #874602;
  --brand-850: #763d02;
  --brand-900: #653502;
  --brand-950: #542c01;
  --brand-999: #432301;
  --brand-000: #ffdfba;
  --brand-050: #fbc792;
  --grey-100: #f7f7f8;
  --grey-150: #c8eaf9;
  --grey-200: #7ec4e2;
  --grey-300: #b7babf;
  --grey-400: #9fa3a9;
  --grey-500: #878c94;
  --grey-600: #006b99;
  --grey-700: #00425f;
  --grey-800: #00425f;
  --grey-850: #002738;
  --grey-900: #1b1c1e;
  --grey-950: #00364e;
  --grey-999: #00131c;
  --grey-000: #ffffff;
  --grey-050: #eff8fc;
  --red-100: #ffc2c2;
  --red-150: #ffa8a8;
  --red-200: #ff9494;
  --red-300: #ff7575;
  --red-400: #ff5757;
  --red-500: #ff3131;
  --red-600: #ea2020;
  --red-700: #cc0000;
  --red-800: #bc0303;
  --red-850: #a80303;
  --red-900: #8f0a0a;
  --red-950: #6b0000;
  --red-999: #540000;
  --red-000: #ffebee;
  --red-050: #ffd8de;
  --yellow-100: #fff4d1;
  --yellow-150: #ffedb8;
  --yellow-200: #ffe8a5;
  --yellow-300: #ffe087;
  --yellow-400: #ffd867;
  --yellow-500: #ffd046;
  --yellow-600: #ecbf38;
  --yellow-700: #daad2a;
  --yellow-800: #c79c1c;
  --yellow-850: #be9315;
  --yellow-900: #b58a0e;
  --yellow-950: #ab8207;
  --yellow-999: #a27900;
  --yellow-000: #fff9e9;
  --yellow-050: #fff5d9;
  --blue-100: #ceeaff;
  --blue-150: #a8daff;
  --blue-200: #91d0ff;
  --blue-300: #65bdff;
  --blue-400: #38a9ff;
  --blue-500: #008ffb;
  --blue-600: #0f81fa;
  --blue-700: #1e6fdc;
  --blue-800: #0668b1;
  --blue-850: #044b81;
  --blue-900: #034272;
  --blue-950: #0f3970;
  --blue-999: #0b2951;
  --blue-000: #e6f4ff;
  --blue-050: #d5edff;
  --green-100: #e8fce8;
  --green-150: #cbf9cb;
  --green-200: #8af0a1;
  --green-300: #97f2a8;
  --green-400: #8af0a1;
  --green-500: #6bf198;
  --green-600: #57ce7f;
  --green-700: #43ab66;
  --green-800: #00814b;
  --green-850: #247740;
  --green-900: #1a6533;
  --green-950: #004126;
  --green-999: #00301c;
  --green-000: #f6fff9;
  --green-050: #f0fef5;
  --orange-100: #ffe3c2;
  --orange-150: #ffdaae;
  --orange-200: #ffc98a;
  --orange-300: #ffb186;
  --orange-400: #ff9a24;
  --orange-500: #ff833e;
  --orange-600: #e87332;
  --orange-700: #d16325;
  --orange-800: #b95219;
  --orange-850: #ae4a13;
  --orange-900: #a2420c;
  --orange-950: #973a06;
  --orange-999: #8b3200;
  --orange-000: #fff6f1;
  --orange-050: #ffecd6;
  --varsom-blue-100: #a6d8ee;
  --varsom-blue-150: #7ec4e2;
  --varsom-blue-200: #43a9d5;
  --varsom-blue-300: #2c96c4;
  --varsom-blue-400: #0e89be;
  --varsom-blue-500: #006b99;
  --varsom-blue-600: #005c85;
  --varsom-blue-700: #005175;
  --varsom-blue-800: #00425f;
  --varsom-blue-850: #00364e;
  --varsom-blue-900: #003147;
  --varsom-blue-950: #002738;
  --varsom-blue-999: #00131c;
  --varsom-blue-000: #eff8fc;
  --varsom-blue-050: #c8eaf9;
  --opacity-disabled: 38%;
  --dimension-025x: 0.0625rem; /** 1px */
  --dimension-05x: 0.125rem; /** 2px */
  --dimension-1x: 0.25rem; /** 4px */
  --dimension-2x: 0.5rem; /** 8px */
  --dimension-3x: 0.75rem; /** 12px */
  --dimension-3-5x: 0.875rem; /** 14px */
  --dimension-4x: 1rem; /** 16px */
  --dimension-4-5x: 1.125rem; /** 18px */
  --dimension-5x: 1.25rem; /** 20px */
  --dimension-6x: 1.5rem; /** 24px */
  --dimension-7x: 1.75rem; /** 28px */
  --dimension-8x: 2rem; /** 32px */
  --dimension-9x: 2.25rem; /** 36px */
  --dimension-10x: 2.5rem; /** 40px */
  --dimension-11x: 2.75rem; /** 44px */
  --dimension-12x: 3rem; /** 48px */
  --dimension-13x: 3.25rem; /** 52px */
  --dimension-14x: 3.5rem; /** 56px */
  --dimension-15x: 3.75rem; /** 60px */
  --dimension-16x: 4rem; /** 64px */
  --dimension-17x: 4.25rem; /** 68px */
  --dimension-18x: 4.5rem; /** 72px */
  --dimension-19x: 4.75rem; /** 76px */
  --dimension-20x: 5rem; /** 80px */
  --dimension-21x: 5.25rem; /** 84px */
  --dimension-22x: 5.5rem; /** 88px */
  --dimension-23x: 5.75rem; /** 92px */
  --dimension-24x: 6rem; /** 96px */
  --dimension-25x: 6.25rem; /** 100px */
  --dimension-26x: 6.5rem; /** 104px */
  --dimension-27x: 6.75rem; /** 108px */
  --dimension-28x: 7rem; /** 112px */
  --dimension-29x: 7.25rem; /** 116px */
  --dimension-30x: 7.5rem; /** 120px */
  --font-families-source-sans-pro: 'Source Sans Pro';
  --line-heights-zero: 115%;
  --line-heights-1: 120%;
  --line-heights-2: 125%;
  --line-heights-3: 130%;
  --line-heights-4: 140%;
  --line-heights-5: 150%;
  --line-heights-6: 110%;
  --letter-spacing-zero: 0%;
  --letter-spacing-1: 5%;
  --paragraph-spacing-zero: 0;
  --paragraph-spacing-1: 12;
  --paragraph-spacing-2: 16;
  --paragraph-spacing-3: 24;
  --paragraph-spacing-4: 32;
  --paragraph-spacing-5: 40;
  --text-case-capitalize: capitalize;
  --text-case-none: none;
  --text-case-uppercase: uppercase;
  --text-decoration-none: none;
  --text-decoration-underline: underline;
  --paragraph-indent-zero: 0px;
  --content-margin-top-bottom-mobile: 24px;
  --content-margin-top-bottom-desktop: 40px;
  --content-margin-top-bottom-desktop-small: 32px;
  --content-margin-top-bottom-desktop-large: 40px;
  --content-margin-left-right-mobile: 24px;
  --content-margin-left-right-desktop-small: 50px;
  --content-margin-left-right-desktop: 220px;
  --content-margin-left-right-desktop-large: 620px;
  --border-radius-none: 0px;
  --border-radius-small: 4px;
  --border-radius-large: 6px;
  --border-radius-circle: 50px;
  --border-radius-pill: 9999px;
  --border-width-none: 0px;
  --border-width-default: 1px;
  --border-width-strong: 2px;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --none: 0px 0px 0px 0px rgba(0,0,0,0);
  --soft: -59px 104px 33px 0px rgba(0,0,0,0.00), -38px 67px 31px 0px rgba(0,0,0,0.00), -21px 37px 26px 0px rgba(0,0,0,0.01), -9px 17px 19px 0px rgba(0,0,0,0.02), -2px 4px 11px 0px rgba(0,0,0,0.03);
  --hard: -45px 80px 26px 0px rgba(0,0,0,0.00), -29px 51px 23px 0px rgba(0,0,0,0.01), -16px 29px 20px 0px rgba(0,0,0,0.02), -7px 13px 15px 0px rgba(0,0,0,0.03), -2px 3px 8px 0px rgba(0,0,0,0.04);
  --header: 0px 4px 032px 0px rgba(0,0,0,0.02);
  --dropdown: 0px 54px 15px 0px rgba(0,0,0,0.00), 0px 35px 14px 0px rgba(0,0,0,0.00), 0px 19px 12px 0px rgba(0,0,0,0.02), 0px 9px 9px 0px rgba(0,0,0,0.03), 0px 2px 5px 0px rgba(0,0,0,0.03);
  --content-area-mobile: 366px;
  --content-area-desktop-small: 700px;
  --content-area-desktop: 1000px;
  --content-area-desktop-large: 1200px;
  --device-width-mobile: 390px;
  --device-width-desktop-small: 800px;
  --device-width-desktop: 1440px;
  --device-width-desktop-large: 2440px;
  --teal-100: #e2f3f9;
  --teal-150: #d3edf6;
  --teal-200: #c4e7f3;
  --teal-300: #a7dbec;
  --teal-400: #89cfe6;
  --teal-500: #6cc3e0;
  --teal-600: #58a1b9;
  --teal-700: #437f92;
  --teal-800: #2f5c6c;
  --teal-850: #254b58;
  --teal-900: #1a3a45;
  --teal-950: #102931;
  --teal-999: #06181e;
  --teal-000: #ffffff;
  --teal-050: #f0f9fc;
  --purple-100: #ece9fc;
  --purple-150: #e2ddfa;
  --purple-200: #d9d2f9;
  --purple-300: #c5bcf5;
  --purple-400: #b2a5f2;
  --purple-500: #9f8fef;
  --purple-600: #8475ce;
  --purple-700: #685aad;
  --purple-800: #4d408d;
  --purple-850: #3f337c;
  --purple-900: #31256c;
  --purple-950: #24185b;
  --purple-999: #160b4b;
  --purple-000: #ffffff;
  --purple-050: #f5f4fd;
  --lime-100: #eaf4da;
  --lime-150: #dfeec8;
  --lime-200: #d4e9b6;
  --lime-300: #bfdd91;
  --lime-400: #a9d26d;
  --lime-500: #94c748;
  --lime-600: #769f3a;
  --lime-700: #59772b;
  --lime-800: #3b501d;
  --lime-850: #2c3c16;
  --lime-900: #1e280e;
  --lime-950: #0f1407;
  --lime-999: #000000;
  --lime-000: #ffffff;
  --lime-050: #f4f9ed;
  --magenta-100: #fae3f1;
  --magenta-150: #f8d5eb;
  --magenta-200: #f5c7e4;
  --magenta-300: #f1acd6;
  --magenta-400: #ec90c9;
  --magenta-500: #e774bb;
  --magenta-600: #c25e9c;
  --magenta-700: #9c497c;
  --magenta-800: #77335d;
  --magenta-850: #64284d;
  --magenta-900: #511e3d;
  --magenta-950: #3f132e;
  --magenta-999: #2c081e;
  --magenta-000: #ffffff;
  --magenta-050: #fdf1f8;
  --neutralgrey-100: #edeef0;
  --neutralgrey-150: #e4e5e7;
  --neutralgrey-200: #c9cbcf;
  --neutralgrey-300: #b7babf;
  --neutralgrey-400: #9fa3a9;
  --neutralgrey-500: #878c94;
  --neutralgrey-600: #60656c;
  --neutralgrey-700: #515459;
  --neutralgrey-800: #3c3f44;
  --neutralgrey-850: #292a2c;
  --neutralgrey-900: #1b1c1e;
  --neutralgrey-950: #0d0d0e;
  --neutralgrey-999: #0d0d0e;
  --neutralgrey-000: #ffffff;
  --neutralgrey-050: #f7f7f8;
  --brand-primary: #ff5f1b;
  --brand-light: #fabf82;
  --brand-deep: #f44900;
  --neutrals-background-primary-contrast: #002738;
  --neutrals-background-primary: #00364e;
  --neutrals-background-secondary: #00425f;
  --neutrals-background-canvas: #002738;
  --neutrals-foreground-primary: #ffffff;
  --neutrals-foreground-subtle: #7ec4e2;
  --neutrals-foreground-colored: #fabf82;
  --neutrals-border-default: #b7babf;
  --neutrals-border-mute: #006b99;
  --neutrals-border-subtle: #00425f;
  --neutrals-border-disabled: #878c94;
  --interactive-primary-background-default: #ffffff;
  --interactive-primary-background-hover: #c8eaf9;
  --interactive-primary-background-disabled: #ffffff;
  --interactive-primary-foreground-default: #00364e;
  --interactive-primary-foreground-hover: #00364e;
  --interactive-primary-foreground-disabled: #00364e;
  --interactive-primary-foreground-border-focus: #008ffb;
  --interactive-secondary-background-default: #00425f;
  --interactive-secondary-background-hover: #006b99;
  --interactive-secondary-background-disabled: #00425f;
  --interactive-secondary-foreground-default: #ffffff;
  --interactive-secondary-foreground-hover: #ffffff;
  --interactive-secondary-foreground-disabled: #ffffff;
  --interactive-secondary-border-focus: #008ffb;
  --interactive-outlined-foreground-default: #ffffff;
  --interactive-outlined-foreground-hover: #ffffff;
  --interactive-outlined-foreground-disabled: #ffffff;
  --interactive-outlined-border-default: #006b99;
  --interactive-outlined-border-hover: #ffffff;
  --interactive-outlined-border-focus: #008ffb;
  --interactive-outlined-border-disabled: #006b99;
  --interactive-ghost-background-hover: #00425f;
  --interactive-ghost-foreground-default: #ffffff;
  --interactive-ghost-foreground-hover: #ffffff;
  --interactive-ghost-foreground-disabled: #ffffff;
  --interactive-ghost-border-focus: #008ffb;
  --interactive-links-default: #38a9ff;
  --interactive-links-hover: #ffffff;
  --interactive-links-focus: #008ffb;
  --interactive-links-visited: #7ec4e2;
  --interactive-danger-background-default: #ff3131;
  --interactive-danger-background-hover: #ff5757;
  --interactive-danger-background-disabled: #ff3131;
  --interactive-danger-foreground-default: #00364e;
  --interactive-danger-foreground-hover: #00364e;
  --interactive-danger-foreground-disabled: #00364e;
  --interactive-danger-border-focus: #008ffb;
  --feedback-background-default-info: #0f3970;
  --feedback-background-default-error: #6b0000;
  --feedback-background-default-warning: #ab8207;
  --feedback-background-default-success: #004126;
  --feedback-background-default-neutral: #3c3f44;
  --feedback-background-subtle-info: #0b2951;
  --feedback-background-subtle-error: #540000;
  --feedback-background-subtle-warning: #a27900;
  --feedback-background-subtle-success: #00301c;
  --feedback-background-subtle-neutral: #292a2c;
  --feedback-background-emphasized-info: #1e6fdc;
  --feedback-background-emphasized-error: #cc0000;
  --feedback-background-emphasized-warning: #ffd046;
  --feedback-background-emphasized-success: #00814b;
  --feedback-background-emphasized-neutral: #e4e5e7;
  --feedback-foreground-default-info: #ffffff;
  --feedback-foreground-default-error: #ffffff;
  --feedback-foreground-default-warning: #ffffff;
  --feedback-foreground-default-success: #ffffff;
  --feedback-foreground-default-neutral: #ffffff;
  --feedback-foreground-subtle-info: #ffffff;
  --feedback-foreground-subtle-error: #ffffff;
  --feedback-foreground-subtle-warning: #ffffff;
  --feedback-foreground-subtle-success: #ffffff;
  --feedback-foreground-subtle-neutral: #ffffff;
  --feedback-foreground-emphasized-info: #ffffff;
  --feedback-foreground-emphasized-error: #ffffff;
  --feedback-foreground-emphasized-warning: #0d0d0e;
  --feedback-foreground-emphasized-success: #ffffff;
  --feedback-foreground-emphasized-neutral: #0d0d0e;
  --dangerlevel-background-mute-level1: #cbf9cb;
  --dangerlevel-background-mute-level2: #ffe8a5;
  --dangerlevel-background-mute-level3: #ffdaae;
  --dangerlevel-background-mute-level4: #ffd8de;
  --dangerlevel-background-mute-level5: #c9cbcf;
  --dangerlevel-background-subtle-level1: #e8fce8;
  --dangerlevel-background-subtle-level2: #fff4d1;
  --dangerlevel-background-subtle-level3: #ffecd6;
  --dangerlevel-background-subtle-level4: #ffebee;
  --dangerlevel-background-subtle-level5: #e4e5e7;
  --dangerlevel-background-default-level1: #6bf198;
  --dangerlevel-background-default-level2: #ffd046;
  --dangerlevel-background-default-level3: #ff9a24;
  --dangerlevel-background-default-level4: #ff3131;
  --dangerlevel-background-default-level5: #0d0d0e;
  --dangerlevel-foreground-default-level1: #0d0d0e;
  --dangerlevel-foreground-default-level2: #0d0d0e;
  --dangerlevel-foreground-default-level3: #0d0d0e;
  --dangerlevel-foreground-default-level4: #0d0d0e;
  --dangerlevel-foreground-default-level5: #ffffff;
  --dangerlevel-foreground-mute-level1: #0d0d0e;
  --dangerlevel-foreground-mute-level2: #0d0d0e;
  --dangerlevel-foreground-mute-level3: #0d0d0e;
  --dangerlevel-foreground-mute-level4: #0d0d0e;
  --dangerlevel-foreground-mute-level5: #0d0d0e;
  --dangerlevel-foreground-subtle-level1: #0d0d0e;
  --dangerlevel-foreground-subtle-level2: #0d0d0e;
  --dangerlevel-foreground-subtle-level3: #0d0d0e;
  --dangerlevel-foreground-subtle-level4: #0d0d0e;
  --dangerlevel-foreground-subtle-level5: #0d0d0e;
  --dangerlevel-foreground-yellow-background: #ffedb8;
  --dangerlevel-foreground-yellow-foreground: #000000;
  --dangerlevel-foreground-grey-background: #c8eaf9;
  --dangerlevel-foreground-grey-foreground: #002738;
  --dangerlevel-foreground-red-background: #ffc2c2;
  --dangerlevel-foreground-red-foreground: #540000;
  --dangerlevel-foreground-blue-background: #a8daff;
  --dangerlevel-foreground-blue-foreground: #0f3970;
  --supplemental-subtle-teal-background: #254b58;
  --supplemental-subtle-teal-foreground: #d3edf6;
  --supplemental-subtle-purple-background: #24185b;
  --supplemental-subtle-purple-foreground: #e2ddfa;
  --supplemental-subtle-lime-background: #2c3c16;
  --supplemental-subtle-lime-foreground: #dfeec8;
  --supplemental-subtle-magenta-background: #64284d;
  --supplemental-subtle-magenta-foreground: #fae3f1;
  --supplemental-subtle-yellow-background: #a27900;
  --supplemental-subtle-yellow-foreground: #fff5d9;
  --supplemental-subtle-grey-background: #1b1c1e;
  --supplemental-subtle-grey-foreground: #ffffff;
  --supplemental-subtle-red-background: #6b0000;
  --supplemental-subtle-red-foreground: #ffc2c2;
  --supplemental-subtle-blue-background: #0f3970;
  --supplemental-subtle-blue-foreground: #ceeaff;
  --supplemental-emphasized-teal-background: #89cfe6;
  --supplemental-emphasized-teal-foreground: #102931;
  --supplemental-emphasized-purple-background: #e2ddfa;
  --supplemental-emphasized-purple-foreground: #24185b;
  --supplemental-emphasized-lime-background: #bfdd91;
  --supplemental-emphasized-lime-foreground: #0f1407;
  --supplemental-emphasized-magenta-background: #f1acd6;
  --supplemental-emphasized-magenta-foreground: #3f132e;
  --supplemental-emphasized-yellow-background: #ffe087;
  --supplemental-emphasized-yellow-foreground: #0d0d0e;
  --supplemental-emphasized-grey-background: #9fa3a9;
  --supplemental-emphasized-grey-foreground: #0d0d0e;
  --supplemental-emphasized-red-background: #ff7575;
  --supplemental-emphasized-red-foreground: #0d0d0e;
  --supplemental-emphasized-blue-background: #65bdff;
  --supplemental-emphasized-blue-foreground: #00131c; }

@media (min-width: 1400px) {
:root.varsom, :root.varsom_darkmode {
  --spacing-xx-small: 0.25rem;
  --spacing-x-small: 0.5rem;
  --spacing-small: 0.75rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.5rem;
  --spacing-x-large: 2rem;
  --spacing-2x-large: 3rem;
  --spacing-3x-large: 4rem;
  --spacing-4x-large: 5rem;
  --spacing-5x-large: 6rem;
  --spacing-none: 0;
  --device-width: 2440px;
  --device-content: 1200px;
  --sizing-2x-small: 1.5rem;
  --sizing-x-small: 2.25rem;
  --sizing-small: 3rem;
  --sizing-medium: 3.75rem;
  --sizing-large: 4.5rem;
  --sizing-x-large: 5.25rem;
  --sizing-3x-small: 1rem;
  --sizing-4x-small: 0.5rem;
  --sizing-2x-large: 6rem;
  --content-margin-top-bottom: 40px;
  --content-margin-left-right: 620px;
  --font-size-2xsmall: 0.875rem; /** 12 px */
  --font-size-xsmall: 1rem; /** 14 px */
  --font-size-small: 1.125rem; /** 16 px */
  --font-size-medium: 1.25rem; /** 18 px */
  --font-size-large: 1.5rem; /** 20 px */
  --font-size-xlarge: 2rem; /** 24 px */
  --font-size-2xlarge: 2.5rem; /** 32 px */
  --font-size-3xlarge: 3rem; /** 40 px */
  --content-margin-top-bottom-mobile: 24px;
  --content-margin-top-bottom-desktop: 40px;
  --content-margin-top-bottom-desktop-small: 32px;
  --content-margin-top-bottom-desktop-large: 40px;
  --content-margin-left-right-mobile: 24px;
  --content-margin-left-right-desktop-small: 50px;
  --content-margin-left-right-desktop: 220px;
  --content-margin-left-right-desktop-large: 620px;
  --content-area-mobile: 366px;
  --content-area-desktop-small: 700px;
  --content-area-desktop: 1000px;
  --content-area-desktop-large: 1200px;
  --device-width-mobile: 390px;
  --device-width-desktop-small: 800px;
  --device-width-desktop: 1440px;
  --device-width-desktop-large: 2440px;
}
}
@media (max-width: 1200px) {
:root.varsom, :root.varsom_darkmode {
  --spacing-xx-small: 0.25rem;
  --spacing-x-small: 0.5rem;
  --spacing-small: 0.75rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.25rem;
  --spacing-x-large: 1.75rem;
  --spacing-2x-large: 2.5rem;
  --spacing-3x-large: 3.5rem;
  --spacing-4x-large: 5rem;
  --spacing-5x-large: 5.5rem;
  --spacing-none: 0;
  --device-width: 800px;
  --device-content: 700px;
  --sizing-2x-small: 1.25rem;
  --sizing-x-small: 2rem;
  --sizing-small: 2.75rem;
  --sizing-medium: 3.5rem;
  --sizing-large: 4.25rem;
  --sizing-x-large: 5rem;
  --sizing-3x-small: 0.875rem;
  --sizing-4x-small: 0.25rem;
  --sizing-2x-large: 5.75rem;
  --content-margin-top-bottom: 32px;
  --content-margin-left-right: 50px;
  --font-size-2xsmall: 0.75rem; /** 12 px */
  --font-size-xsmall: 0.875rem; /** 14 px */
  --font-size-small: 1rem; /** 16 px */
  --font-size-medium: 1.125rem; /** 18 px */
  --font-size-large: 1.25rem; /** 20 px */
  --font-size-xlarge: 1.75rem; /** 24 px */
  --font-size-2xlarge: 2.25rem; /** 32 px */
  --font-size-3xlarge: 2.75rem; /** 40 px */
  --content-margin-top-bottom-mobile: 24px;
  --content-margin-top-bottom-desktop: 40px;
  --content-margin-top-bottom-desktop-small: 32px;
  --content-margin-top-bottom-desktop-large: 40px;
  --content-margin-left-right-mobile: 24px;
  --content-margin-left-right-desktop-small: 50px;
  --content-margin-left-right-desktop: 220px;
  --content-margin-left-right-desktop-large: 620px;
  --content-area-mobile: 366px;
  --content-area-desktop-small: 700px;
  --content-area-desktop: 1000px;
  --content-area-desktop-large: 1200px;
  --device-width-mobile: 390px;
  --device-width-desktop-small: 800px;
  --device-width-desktop: 1440px;
  --device-width-desktop-large: 2440px;
}
}
@media (max-width: 600px) {
:root.varsom, :root.varsom_darkmode {
  --spacing-xx-small: 0.125rem;
  --spacing-x-small: 0.25rem;
  --spacing-small: 0.5rem;
  --spacing-medium: 0.75rem;
  --spacing-large: 1rem;
  --spacing-x-large: 1.5rem;
  --spacing-2x-large: 2rem;
  --spacing-3x-large: 2.75rem;
  --spacing-4x-large: 4rem;
  --spacing-5x-large: 4.75rem;
  --spacing-none: 0;
  --device-width: 390px;
  --device-content: 366px;
  --sizing-2x-small: 1.125rem;
  --sizing-x-small: 1.75rem;
  --sizing-small: 2.5rem;
  --sizing-medium: 3.25rem;
  --sizing-large: 4rem;
  --sizing-x-large: 4.75rem;
  --sizing-3x-small: 0.75rem;
  --sizing-4x-small: 0.125rem;
  --sizing-2x-large: 5.5rem;
  --content-margin-top-bottom: 24px;
  --content-margin-left-right: 24px;
  --font-size-2xsmall: 0.75rem; /** 12 px */
  --font-size-xsmall: 0.875rem; /** 14 px */
  --font-size-small: 1rem; /** 16 px */
  --font-size-medium: 1.125rem; /** 18 px */
  --font-size-large: 1.25rem; /** 20 px */
  --font-size-xlarge: 1.75rem; /** 24 px */
  --font-size-2xlarge: 2.25rem; /** 32 px */
  --font-size-3xlarge: 2.75rem; /** 40 px */
  --content-margin-top-bottom-mobile: 24px;
  --content-margin-top-bottom-desktop: 40px;
  --content-margin-top-bottom-desktop-small: 32px;
  --content-margin-top-bottom-desktop-large: 40px;
  --content-margin-left-right-mobile: 24px;
  --content-margin-left-right-desktop-small: 50px;
  --content-margin-left-right-desktop: 220px;
  --content-margin-left-right-desktop-large: 620px;
  --content-area-mobile: 366px;
  --content-area-desktop-small: 700px;
  --content-area-desktop: 1000px;
  --content-area-desktop-large: 1200px;
  --device-width-mobile: 390px;
  --device-width-desktop-small: 800px;
  --device-width-desktop: 1440px;
  --device-width-desktop-large: 2440px;
}
}