---
const { title } = Astro.props;
import '../../public/css/global.css'
import '../../public/css/varsom.css'

const currentPage = new URL(Astro.request.url).pathname;
---

<html dir="lts" lang="nb-no">
<head>
<meta charset="UTF-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>NVE Designsystem</title>
</head>
  <body>
    <h1>{title}</h1>
    <slot />
  <script >
   const webComponentsJS = import.meta.glob(
    '../components/**/*.component.ts',
    { eager: true })
</script>
  </body>
</html>