:host {
  display: block;
}

.checkbox::part(base) {
  font: var(--label-x-small-light);
}

.checkbox::part(control) {
  border: solid var(--neutrals-foreground-primary, #00131c);
}

.checkbox::part(control--checked),
.checkbox::part(control--indeterminate) {
  background-color: var(--neutrals-foreground-primary, #00131c);
}
